{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="">
  <h1>Dashboard</h1>
 </div>
 
 <br>
 
 <div class="container">
 
   <div class="col-md-6">
    <table>
    	{{  current_details.as_table }}
    </table>
   </div>

   <div class="col-md-6">
    <div id="canvas-holder" style="width:125%">
		<canvas id="pie-chart"></canvas>
	</div>
   </div>
   

 </div>
 
 <br><br><br>
 <!-- ------------------ Assessment Filter	----------------------- -->
 <div class="col-md-4">
 </div>
 
 <div align="center" class="col-md-4">
   <form method="post">
		 {% csrf_token %}
			<select name="assessment_id" class="selectpicker" data-live-search="true">
			<option value=""></option>
			 {% for data in all_instituion_assessments %}
			  <option value="{{data.id}}">{{ data.header }}</option>
			  {% endfor %}
			</select>
		   <button class="btn btn-success" style="padding-left: 50px;padding-right: 50px;height: 38px;">FILTER</button></div>
	</form>
</div>
	
 <br>
<div align="center">
     <div style="width:50%">
		<canvas id="time-series-graph"></canvas>
	 </div>
 </div>
 
 
 
<script>
	studentCounting = [{{total_male}},{{total_female}}];
	studentUsername = [];
	studentMarks = [];
	assessmentHeader = "{{assessment_header}}"
	
	{% for data in result_obj %}
		studentUsername.push("{{data.registered_user.studentuser.username}}")
		studentMarks.push({{data.obtained_marks}})
	{% endfor %}
	

</script>
	
<script src="{% static "js/institution_dashboard_script.js" %}"></script>
{% endblock %} 