{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="">
  <h1>Dashboard</h1>
 </div>
 
 <br>
 
 <div class="container">
 
   <div class="col-md-6">
    <table>
    	{{  current_details.as_table }}
    </table>
   </div>
   
   <div class="col-md-6">
    <div id="canvas-holder" style="width:125%">
		<canvas id="chart-area"></canvas>
	</div>
   </div>

 </div>
 
 
<script>
	studentCounting = [{{total_male}},{{total_female}}];
</script>
	
<script src="{% static "js/male_female_st_pie_chart_script.js" %}"></script>
{% endblock %} 