{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}   Institution Registration   {% endblock %}

{% block content %} 
 <h1>Institution Registration  </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%">
	 <div class="row">
		<h3 >Please fill all the details for Insititute account:</h3>
	 </div>
	 
	 <form action="." method="post" enctype="multipart/form-data">
		 {% csrf_token %}
		<div class="form-row">
				<div class="form-group col-md-4">
					{{ form.username|as_crispy_field}}
				</div>
				<div class="form-group col-md-8">
					{{ form.institute_name|as_crispy_field}}
				</div>
		</div>
		<div class="form-row">
				<div class="form-group col-md-4">
					{{ form.email|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.institute_address|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.institute_contact_mobile|as_crispy_field }}
				</div>
		</div>
		<div class="form-row">
				
				<div class="form-group col-md-4">
					{{ form.institute_country|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.institute_state|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.institute_city|as_crispy_field }}
				</div>
		</div>
		<div class="form-row">
				
				<div class="form-group col-md-4">
					{{ form.institute_contact_landline|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.password1|as_crispy_field }}
				</div>
				<div class="form-group col-md-4">
					{{ form.password2|as_crispy_field }}
				</div>
		</div>
		<p><input type="submit" class="btn btn-success" value="Register"></p>
	</form>
 	 
	     
	     
 	

 </div>
{% endblock %}