{% extends "base.html" %}


{% block title %}Log-in{% endblock %}
{% block content %}
  <h1>Log-in</h1>  
  <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
  <p>Please, use the following form to log-in:</p>
  <form action="." method="post">
  {{ form.as_p }}
  {% csrf_token %}  
  <p><input type="submit" value="Log-in"></p> 
  </form>
{% endblock %} 