{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Insititute Login{% endblock %}

{% block content %}

<h1></h1> 
 <style>
 #box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
</style> 
 {% if form.errors %} 
	 <div class="alert alert-warning alert-dismissible fade show" role="alert">
						<p class="p">      Your username and password didn't match.       Please try again.    </p> 
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
			
		  {% endif %}    
{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
{% endfor %}
 <div class=" container " id="box">
	
	<form class="" action="{% url 'institutions:login' %}" method="post"> 
	
	<div class="row" >
		<div class="col-md-12 text-center">
			<i class='mb-4 fas fa-school' style='font-size:72px; color: #e91e63 !important;' width="72" height="72"></i>
		
		 </div>
	</div>
	<div class="row" >
		<div class="col-md-12 text-center">
			<h3>Institute Login</h3>
		
		 </div>
	</div>

	<div class="row" >
		<div class="col-md-12">
		 
			<p class="p">Please, use the following form to log-in:</p> 
		
		 </div>
	</div>
	
	
	
	<div class="row"> 
		<div class="col-md-12">
			{% csrf_token %}
		</div>
	</div>
	<div class="row"> 
		
		<div class="col-sm-12 col-md-12">
			{{ form.username|as_crispy_field }}
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12">
			{{ form.password|as_crispy_field }}
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12">
			<input type="hidden" name="next" value="/institutions/" /> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12 text-center">
			<input  type="submit" value="Log-in" class="btn btn-danger">
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-6">
			<a href="{% url 'institutions:password_reset' %}">Forgot Password?</a> 
		</div>
		<div class="col-sm-12 col-md-6">
			<a href="{% url 'institutions:institution_registration' %}">Register Your Account Here!</a>
		</div>
	</div>



   
 </form>
 </div>

{% endblock %} 
 