{% extends 'base.html' %}


{% block content %}
<h1>Password Reset Completed</h1>
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
	<div class="container">
        <h2>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </h2>
        <h2>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </h2>
	</div>
{% endblock %}