{% extends 'base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<h1>Set New Password</h1>
{% for message in messages %}
<div id="user_message_display">
	<div class="alert alert-success" role="alert">
					{{ message|safe }}
	</div> 		
</div>
				 
{% endfor %}
<div class="container">

		<div class="row">
			<div class="col-md-12"><h4>{% trans "Please enter your new password and confirm it." %}</h4></div>
		</div>
		
        <form method="post">
            {% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<label for="new_password1">{{"Enter New Password:"}}*</label>
					<div class="input-group">
							
							{% if form.new_password1.errors %}
								  
								  {% render_field form.new_password1  class="form-control  is-invalid" required="required"  %}
								  {% for error in form.new_password1.errors %}
									<div class="invalid-feedback">
									  {{ error }}
									</div>
								  {% endfor %}
							{% else %}
								  {% render_field form.new_password1  class="form-control" required="required" %}
							{% endif %}
					</div>
					
				</div>
				<div class="col-md-6">
					<label for="new_password2">{{"Confirm New Password:"}}*</label>
					<div class="input-group">
							
							{% if form.new_password2.errors %}
								  
								  {% render_field form.new_password2  class="form-control  is-invalid" required="required"  %}
								  {% for error in form.new_password2.errors %}
									<div class="invalid-feedback">
									  {{ error }}
									</div>
								  {% endfor %}
							{% else %}
								  {% render_field form.new_password2  class="form-control" required="required" %}
							{% endif %}
							
 
					</div>
					
				</div>
			</div>
			<div class="row">
				<small id="passwordHelp" class="form-text text-muted">{{form.new_password1.help_text}}</small>
			</div>
			
			<div class="row">
				<center><input type="submit" class="btn btn-danger" name='submit' value="Reset Password"></center>
			</div>
        </form>

   
</div>
{% endblock %}
