{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}  
<h1>Change you password</h1>  
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <div class="container">
 <p>Use the form below to change your password.</p> 
 <form action="." method="post">    
 {{ form.as_p }}  
 <p><input type="submit" class="btn btn-success" value="Change"></p>    
 {% csrf_token %} 
 </form> 
 </div>
{% endblock %} 