{% extends 'base.html' %}

{% block content %}
{% if not request.user.username %}
    <h1>Password Reset</h1>
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
    <br>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name='submit' value="Reset Password">
    </form>
{% else %}
    <h1>Password Reset</h1>
    <h2>You have already login.</h2>
    <h2>You can change your password using <a href="{% url 'institutions:password_change' %}">Change Password</a> </h2>
{% endif %}

{% endblock %}