{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
{% if not request.user.username %}
    <h1>Password Reset</h1>
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
    <br>
	<div class="container">
	<div class="row">
		<div class="col-md-12">
		<p>Forgotten your password? Enter your email address or username below, and we'll email instructions for setting a new one.</p>
		</div>
		</div>
    <form method="post">
        {% csrf_token %}
        {{ form.email_or_username|as_crispy_field }}
        <input type="submit" name='submit' class="btn btn-danger" value="Reset Password">
    </form>
{% else %}
    <h1>Password Reset</h1>
    <h2>You have already login.</h2>
    <h2>You can change your password using <a href="{% url 'institutions:password_change' %}">Change Password</a> </h2>
{% endif %}

{% endblock %}