{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}Change Password{% endblock %}
{% block content %}  
<h1>Change Password</h1> 
<style>
.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
          
</style> 
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
  <div class="container">

	<form action="." method="post">    
		{% csrf_token %}
			<div class="card">
				{% for k,v in form.errors.items %}
					<div class="card-header">{{ v}}</div>
				{% endfor %}
				<div class="card-header">Use the form below to change your password.</div>
				
				<div class="row no-gutters">

					<div class="col">
						<div class="card-block px-2">
							<p class="card-title">



								<div id="div_id_old_password" class="form-group">

									<label for="id_old_password" class=" requiredField">
										Old password<span class="asteriskField">*</span>
									</label>








									<div class="">
										<input type="password" name="old_password" autocomplete="current-password" autofocus class="textinput textInput form-control" required id="id_old_password">












										</div>


									</div>


								</p>
								<p class="card-text">



									<div id="div_id_new_password1" class="form-group">

										<label for="id_new_password1" class=" requiredField">
											New password<span class="asteriskField">*</span>
										</label>








										<div class="">
											<input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1">
										</div>


										</div>


									</p>
									<p class="card-text">



										<div id="div_id_new_password2" class="form-group">

											<label for="id_new_password2" class=" requiredField">
												New password confirmation<span class="asteriskField">*</span>
											</label>








											<div class="">
												<input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2">



												</div>


											</div>

										</p>
										<br>
									</div>
								</div>
							</div>
							<div class="card-footer w-100 text-muted">
							<button type="submit" class="btn btn-primary" value="Change"><i class="fa fa-save"></i> Change Password</button>
							</div>
						</div>

					</form> 
				</div>
{% endblock %} 