
{% extends "base.html" %}
{% block title %}   Edit your account   {% endblock %}


{% block content %} 
 <h1>Edit your account</h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
 <div class="container"> 
 <p>You can edit your account using the following form:</p>
 <form action="." method="post" enctype="multipart/form-data">
     {{ user_form.as_p}}
     {{ staff_form.as_p }}
     {% csrf_token %}
 <p><input type="submit" class="btn btn-success" value="Save changes"></p>
 </form>
 </div>
{% endblock %}
