django
django-polymorphic
django-tables2
django-bootstrap3
django-filter
django-crispy-forms
whitenoise
python-decouple
dj-database-url
gunicorn
psycopg2
django-suit-ckeditor
django-markdown
django-guardian
django-easy-pdf
WeasyPrint
xhtml2pdf
reportlab
six
django-widget-tweaks
django-allauth
unipath