 {% extends "master_base.html" %}
 
 {% block menu %}
	 <div id="header"> 
		 <span class="logo"><a href="{% url "home:homeview" %}">SwapLE</a></span>
		 <ul class="menu">
		 
		 {% if request.user.is_authenticated %}      
		 <li><a href="#">   Namaste, {{ request.user.username }}</a></li> 
		 <li {% if section == "dashboard" %}class="selected"{% endif %}> <a href="{% url "student:dashboard" %}">My dashboard</a>      </li>
		 <li> <a href ={% url "student:edit" %}> Edit Profile</a> </li>
		 <li> <a href ={% url "student:password_change" %}> Change Password</a> </li>
		 <li> <a href ={% url "student:assesments:manage_student_assesment" %}> Assesments </a> </li>
		 <li> <a href ={% url "student:view_library_asset" %}>View Library Asset </a> </li>
		 <li> <a href ={% url "student:my_issued_library_asset" %}>My Issued Library Asset </a> </li>
		 <li> <a href="{% url "student:logout" %}">Logout</a> </li> 
		 {% else %}   
     		<li> <a href="{% url "student:login"  %}">Log-in</a></li> 
 		 {% endif %}  
		 </ul>
	</div>
{% endblock %}

 <div id="footer">
     {% block footer %} 
		

	  <div class="container">
	  <div class="row">
	  <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SwapLE</strong>. All Rights Reserved
          </div>
         
        </div>
	   
	  </div>
	  </div>
    
     {% endblock %}
 </div>
 </body> </html> 
 
 <script type="text/javascript">
 
 $(document).ready(function(){
 	var checkWhetherMessageExists = 0;
 	checkWhetherMessageExists = $("#userDisplayMessage").length > 0;
 	
 	if (checkWhetherMessageExists) {
	 	$( function() {
	    $( "#userDisplayMessage" ).dialog({
	    	modal: true
	    	});
	  	} );
  	}
});


 </script>
 
 