{% extends "student/base.html" %}
{% block title %}Log-in Students {% endblock %}

{% block content %}
  <h1>Log-in [Student]</h1> 
  {% if form.errors %} 
  <p>      Your username and password didn't match. Please try again.    </p> 
  {% else %}    
  <p>Please, use the following form to log-in Student Portal:</p> 
  {% endif %}
 <div class="login-form"> 
 <form action="{% url 'student:login' %}" method="post"> 
 {{ form.as_p }}     
 {% csrf_token %}    
 <input type="hidden" name="next" value="/student/" />   
<p><input type="submit" value="Log-in"></p>&nbsp;
<a href="{% url 'student:password_reset' %}">Forgot Password?</a> 
 </form>  </div> 
 {% endblock %} 