{% extends "student/base.html" %}
{% block title %}Log-in Students {% endblock %}

{% block content %}
  <h1>Log-in [Student]</h1> 
  
 <div class="container" style="min-height:60%">
  
 <div class="login-form"> 
 <form action="{% url 'student:login' %}" method="post"> 
 {{ form.as_p }}     
 {% csrf_token %}    
 <input type="hidden" name="next" value="/student/" />   
<p><input type="submit" value="Log-in" class="btn btn-danger"></p>&nbsp;
<a href="{% url 'student:password_reset' %}">Forgot Password?</a> 
 </form>  </div> 
 </div>
 {% endblock %} 