{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}   Student Registration   {% endblock %}

{% block content %} 
 <h1>Student Registration  </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%">
 <div class="row">
	<h3 >Please fill all the details for Student account:</h3>
 </div>
 
 
 <form action="." method="post" enctype="multipart/form-data">
 	 {% csrf_token %}
 	 <div class="form-row">
	
			
			<div class="form-group col-md-4">
				<label for="brief_answer">{{"Please select your Institution/School Name:"}}*</label>
					<div class="input-group">
						{% if form.institution_name.value %} 
							{% render_field form.institution_name  class="form-control"  disabled="disabled" %}
						{% else %}
							{% render_field form.institution_name  class="form-control "   %}
						{% endif %}
					</div>
			</div>
			<div class="form-group col-md-4">
				
						{% if form.institution_name.value and form.staffuser.value %} 
							<label for="brief_answer">{{"Please select your staff/moderator Name:"}}*</label>
							<div class="input-group">
								{% render_field form.staffuser  class="form-control "  disabled="disabled" %}
							</div>
						{% elif form.institution_name.value %}
							<label for="brief_answer">{{"Please select your staff/moderator Name:"}}*</label>
							<div class="input-group">
								{% render_field form.staffuser  class="form-control "   %}
							</div>
						{% endif %}
					
			</div>
			
		</div>
		
		{% if form.staffuser.value  and staff_obj.allowregistration %} 
		<div class="form-row"><p> Please fill all your details : </p></div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="brief_answer">{{"User Id:"}}*</label>
					<div class="input-group">
							
							{% if form.username.errors %}
								  
								  {% render_field form.username  class="form-control  is-invalid" required="required"  %}
								  {% for error in form.username.errors %}
									<div class="invalid-feedback">
									  {{ error }}
									</div>
								  {% endfor %}
							{% else %}
								  {% render_field form.username  class="form-control" required="required" %}
							{% endif %}
					</div>
			</div>
			<div class="form-group col-md-4">
				{{ form.first_name|as_crispy_field }}
			</div>
			<div class="form-group col-md-4">
				{{ form.last_name|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				{{ form.standard|as_crispy_field}}
			</div>
			<div class="form-group col-md-4">
				{{ form.parent_contact_no|as_crispy_field}}
			</div>
			<div class="form-group col-md-4">
				{{ form.student_contact_no|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="brief_answer">{{"Address:"}}*</label>
					<div class="input-group">
							
							
							
								{% if form.address.errors %}
								  
								  {% render_field form.address  class="form-control  is-invalid" required="required" rows="2" %}
								  {% for error in form.address.errors %}
									<div class="invalid-feedback">
									  {{ error }}
									</div>
								  {% endfor %}
								{% else %}
								  {% render_field form.address class="form-control" rows="2" %}
								{% endif %}
							 
					</div>
				
			</div>
			<div class="form-group col-md-4">
				
				<label for="brief_answer">{{ form.gender.label_tag }}*</label>
				{{form.gender.0}}{{form.gender.1}}
				
			</div>
			<div class="col-md-4">
				{{ form.email|as_crispy_field }}
				
         	</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				{{ form.password1|as_crispy_field }}
			</div>
			<div class="form-group col-md-4">
				{{ form.password2|as_crispy_field }}
			</div>
			<div class="form-group col-md-4">
				
			</div>
		</div>
		{% endif %}
 	 <br>
   
 {% if form.staffuser.value == None %}    
 <p><input type="submit" class="btn btn-success" value="Next"></p>
 {% else %}
 <p><input type="submit" class="btn btn-success" value="Register"></p>
 {% endif %}
 
 </form>
 </div>
 
 <script type="text/javascript">
 $('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
});
 </script>
{% endblock %}

