{% extends "student/base.html" %}
{% load bootstrap3 %}

{% block title %}   View Library Assets  {% endblock %}

{% block content %}
 <h1>View All Your Library Assets </h1>


<!--Filter-->

<div class="container"> 
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
</div>


<!--Data-->

<div class="container">        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Asset UniqueCode</th>
        <th>Name</th>
        <th>Asset Type</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
    {% if library_asset %}
     {% for data in library_asset %}
      <tr>
        <td>{{ data.asset_unique_code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.asset_type }}</td>
        {% if data.availability %} 
        	<td>Available</td>
        {% else %}
        	<td>Not Available</td>
        {% endif %}
      </tr>
     {% endfor %}
     
    {% else %}
       <tr>
        <td>Null</td>
        <td>Null</td>
        <td>Null</td>
        <td>Null</td>
      </tr>
      
    {% endif %}
     
    </tbody>
  </table>
</div>



<!--Pagination-->

<div align="center">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
</div>



{% endblock %}