{% load render_table from django_tables2 %}
{% load staticfiles %}

{% load static %}
{%  include 'master_static.html' %}

 <html> <head> 
 <title>{% block title %}{% endblock %}</title>  
 <link href="{% static "css/base.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  
  <style type="text/css">
	.centeredForm {
	  margin: 0 auto;
    	width:80% /* value of your choice which suits your alignment */
	}
	@media (max-width: 500px) {
	  .myForm {
	    min-width: 90%;
	  }
	}
  </style>
 </head> <body>
 
 <div id="header"> 
 <span class="logo"><a href={% url "home:homeview"%}>SwapLE</a> </span>
 {% if request.user.is_authenticated and perms.institutions.is_institute %} 
 


 <ul class="menu">     
 <li {% if section == "dashboard" %}class="selected"{% endif %}>        <a href="{% url "institutions:dashboard" %}">My dashboard</a>      </li>
 <li> <a href ={% url "institutions:edit" %}> Edit Profile</a> </li>
    <li> <a href ={% url "institutions:password_change" %}> Change Password</a> </li>
    <li> <a href ={% url "institutions:manage_staff" %}> Manage Staff</a> </li>
    <li> <a href ={% url "institutions:create_institution_staff" %}> Add Staff</a> </li>
    <li> <a href="{% url "institutions:logout" %}">Logout</a> </li>
    
 </ul>
 {% else %}  
 <ul class="menu">   
     <li> <a href="{% url "institutions:login"  %}">Log-in</a></li>
 </ul> 
 {% endif %}  
 
 </div>
 {% block menu %}{% endblock %}
 
  {% if messages %}
 <div id="userDisplayMessage">
 	<ul class="messages" >    
 		{% for message in messages %}
 		      <li class="{{ message.tags }}">        {{ message|safe }}          </li>
 		{% endfor %}
   </ul>
 </div>
 {% endif %}


 <div id="content">    {% block content %}    {% endblock %}  </div>
 

 <div id="footer">
     {% block footer %} 
		

	  <div class="container">
	    <p class="text-muted">Handcrafted in INDIA <a href="http://">swaple.com</a></p>
	  </div>
    
     {% endblock %}
 </div>
 </body> </html> 
 
 <script type="text/javascript">
 
 $(document).ready(function(){
 	var checkWhetherMessageExists = 0;
 	checkWhetherMessageExists = $("#userDisplayMessage").length > 0;
 	
 	if (checkWhetherMessageExists) {
	 	$( function() {
	    $( "#userDisplayMessage" ).dialog({
	    	modal: true
	    	});
	  	} );
  	}
});


 </script>