
{% extends "staff/base.html" %}
{% load crispy_forms_tags %}


{% block title %}   Edit Assessment   {% endblock %}

{% block content %} 
 <h1>Edit Assessment</h1>
 <p>You can Edit your Assessment using the following form:</p>
 
 <form action="." method="post" enctype="multipart/form-data">
     {{ assessment_form|crispy}}
     {% csrf_token %}
 <p><input type="submit" value="Save changes"></p>
 </form>
 
 
<script type="text/javascript">
$(function () {
    $('.datetimeinput ').datetimepicker(
    {
        format: 'YYYY-MM-DD HH:mm:ss',
        sideBySide: true
    }
    );
});
</script>

{% endblock %}
