{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}   Create Assessment   {% endblock %}

{% block content %} 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
#scroll_questions {
	 margin: auto;
		height: 285px;
		width: 300px;
		overflow-y: auto; /* This changed */
}
</style>
 <h1>Create Assessment</h1>
<div class="container" style="min-height:60%;">
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
	<div class="row">
		<h3 >You can Create your Assessment using the following form:</h3>
	 </div>
	 

{% if assessment_c_form.errors %}
    
    
        {% for key, value in assessment_c_form.errors.items %}
            <div class="alert alert-danger">
                <strong>{{key }} - {{ value|escape }}</strong>
            </div>
        {% endfor %}
    
     {% for key, value in assessment_c_form.non_field_errors.items %}
            <div class="alert alert-danger">
                <strong>{{key }} - {{ value|escape }}</strong>
            </div>
        {% endfor %}
  
{% endif %}

	
	 
	<form action="." method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-12">
							{{ assessment_c_form.header|as_crispy_field  }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
							{{ assessment_c_form.brief|as_crispy_field  }}
			</div>
		</div>
		<div class="form-row">
						
			<div class="form-group col-md-4">
				<label>Assesment available from: </label>
				<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
				  {{ assessment_c_form.exam_start_date_time  }}
				  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
					<div class="input-group-text"><i class="fa fa-calendar"></i></div>
				  </div>
				</div>

							
			</div>
			<div class="form-group col-md-4">
				<label>Assesesment will expire on: </label>
				<div class="input-group date" id="expiredon" data-target-input="nearest">
				  {{ assessment_c_form.expired_on  }}
				  <div class="input-group-append" data-target="#expiredon" data-toggle="datetimepicker">
					<div class="input-group-text"><i class="fa fa-calendar"></i></div>
				  </div>
				</div>
						
			</div>
			<div class="form-group col-md-2">
							{{ assessment_c_form.duration_hours|as_crispy_field  }}
			</div>
			<div class="form-group col-md-2">
							{{ assessment_c_form.duration_minutes|as_crispy_field  }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
							{{ assessment_c_form.passing_marks|as_crispy_field  }}
			</div>
			<div class="form-group col-md-4">
							{{ assessment_c_form.privilege|as_crispy_field  }}
			</div>
			<div class="form-group col-md-4">
							
			</div>
		</div>
		<div class="form-row">
			<em class="small em">The Assesment will be visible to student only between the Assesment start to expired date. And having visibility to Public. </em>
		</div>
		<div class="form-row">
		
			<div class="form-group col-md-12 " style="">
			<label >Please select the student which you want to subscribe: </label>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-12 overflow-auto" id="scroll_questions" style="height:200px; border: 1px solid #ccc; padding: 10px 10px;">
						{{ assessment_c_form.subscriber_users }}
			</div>
						
		</div>
			
		
	    
	     
	 <input type="submit" class="btn btn-success" value="Save">
	</form>
 </div>
 
 
  
<style type="text/css">
	ul {
	  list-style-type: none;
	}
</style> 
<script type="text/javascript">
 $(document).ready(function(){	
	$("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
	  date: moment( '{{assessment_c_form.exam_start_date_time.value|date:'d/m/Y H:i' }}', 'DD/MM/YYYY HH:mm') 
    });
	$("#expiredon").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
	  date: moment( '{{assessment_c_form.expired_on.value|date:'d/m/Y H:i' }}', 'DD/MM/YYYY HH:mm') 
    });
	/*
	
 	$("#id_total_exam_duration").prop("readonly", true);
 	$("#id_expired_on_0, #id_exam_start_date_time_0").attr("placeholder", "YYYY:MM:DD");
 	$("#id_expired_on_1, #id_exam_start_date_time_1").attr("placeholder", "HH:MM:SS");
 	
 	$('.myDateClass, #id_expired_on_0, #id_exam_start_date_time_0').datetimepicker( {timepicker:false, format:"Y-m-d"});
 	$('.customTimeClass').datetimepicker( {datepicker:false,timepicker:true,format:"H:i"});
	$('#id_expired_on_1').datetimepicker( {datepicker:false,timepicker:true,format:"H:i:s"});
	 	
 	$( "#id_exam_start_date_time_1, #id_expired_on_1, #id_expired_on_0, #id_exam_start_date_time_0" ).focusout(function() {
		    start = $("#id_exam_start_date_time_1").val();
		    end  = $("#id_expired_on_1").val();
            start_date = $("#id_exam_start_date_time_0").val();
            end_date = $("#id_expired_on_0").val();
		    $( "#id_total_exam_duration" ).val( diff(start, end, start_date, end_date) );
		    $( "#id_total_exam_duration" ).text( diff(start, end, start_date, end_date) );
  	});
 	
 	function diff(start, end, start_date, end_date) {
	    start = start.split(":");
	    end = end.split(":");
        start_date = start_date.split("-");
	    end_date = end_date.split("-");
        
	    var startDate = new Date(start_date[0], start_date[1], start_date[2], start[0], start[1], 0);
	    var endDate = new Date(end_date[0], end_date[1], end_date[2], end[0], end[1], 0);
	    var diff = endDate.getTime() - startDate.getTime();
	    var hours = Math.floor(diff / 1000 / 60 / 60);
	    diff -= hours * 1000 * 60 * 60;
	    var minutes = Math.floor(diff / 1000 / 60);
	
	    // If using time pickers with 24 hours format, add the below line get exact hours
	    if (hours < 0)
	       hours = hours + 24;
	
	    return (hours <= 9 ? "0" : "") + hours + ":" + (minutes <= 9 ? "0" : "") + minutes;
	}
    
   $("#id_exam_start_date_time_1, #id_expired_on_1").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        
               return false;
    }
    if ($(this).val().length ==2 || $(this).val().length == 5 ){
        $(this).val($(this).val() + ":")
    }
   });
    
   $("#id_expired_on_0, #id_exam_start_date_time_0").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        
               return false;
    }
    if ($(this).val().length ==4 || $(this).val().length == 7 ){
        $(this).val($(this).val() + "-")
    }
   });
   */
   
   
 });
 </script>
 
{% endblock %}