{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block title %}  {{object.header}}  {% endblock %}

{% block content %} 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js" integrity="sha256-vucLmrjdfi9YwjGY/3CQ7HnccFSS/XRS1M/3k/FDXJw=" crossorigin="anonymous"></script>4
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />

<h1> </h1> 
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 ">
		<center>
			<button type="button" class="btn btn-danger" id="download_as_pdf"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save as PDF </button>
		</center>
		
		<br>
		</div>
	</div>
</div>
<div id = "print_doc" class="container" style="min-height:60%;">

<div class="row border-bottom">
	<div class="col-sm-12 col-md-12 text-center"><strong>{{object.get_assessment_institute_name}}</strong></div>
	<small class="col-sm-12 col-md-12 text-center">Address: {{ object.get_assessment_institute_address }}</small>
</div>
<div class="row text-center">
	<h4 class="col-sm-12 col-md-12">{{ object.header }}</h4>
	
</div>

<div class="page-header">
  <div class="float-left">
		<small class=" text-right">Total Marks {{ object.passing_marks }}</small>
  </div>
  <div class="float-right">
		<small class="text-right">Passing Marks {{ object.passing_marks }}</small>
  </div>
  <div class="clearfix"></div>
</div>

<div class="page-header border-bottom">
  <div class="float-left">
		<small class=" text-right">Exam Duration {{ object.duration_hours }} Hr {{ object.duration_minutes }} Minute</small>
  </div>
  <div class="float-right">
		<small class="text-right"></small>
  </div>
  <div class="clearfix"></div>
</div>
<br/>

<table>

		{% for each_question in question %}
			
			<tr>
			<td >{{forloop.counter}}</td>
			<td colspan="2">
				
					<div class="page-header">
						
					  <div class="float-left">
							<span class=" text-right">{{ each_question.question_text|safe }}</span>
					  </div>
					  <div class="float-right">
							<small class="text-right"><em>{{ each_question.max_marks}} Marks</em></small>
					  </div>
					  <div class="clearfix"></div>
					</div>
				
			</td>
			</tr>
			
					{% if each_question.option_one|length > 0 %}
						<tr>
						<td><img src="{% static "img/thin_circle.png"  %}" width="20px;" /> </td><td >{{ each_question.option_one}}</td>
						</tr>
					{% endif %}
					{% if each_question.option_two|length > 0 %}
						<tr>
						<td><img src="{% static "img/thin_circle.png"  %}" width="20px;" /> </td><td >{{ each_question.option_two}}</td>
						</tr>
					{% endif %}
					{% if each_question.option_three|length > 0 %}
						<tr>
						<td><img src="{% static "img/thin_circle.png"  %}" width="20px;" /> </td><td >{{ each_question.option_three}}</td>
						</tr>
					{% endif %}
					{% if each_question.option_four|length > 0 %}
						<tr class="">
						<td><img src="{% static "img/thin_circle.png"  %}" width="20px;" /> </td><td >{{ each_question.option_four}}</td>
						</tr>
						
					{% endif %}
					
					{% if each_question.option_five|length > 0 %}
						<tr>
						<td><img src="{% static "img/thin_circle.png"  %}" width="20px;" /> </td><td colspan="2">{{ each_question.option_five}}</td>
						</tr>
					{% endif %}
					
		{% endfor%}
		


</table>

 <script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.js"> </script>
	<script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.css"> </script>
	<script type="text/javascript">
		$("#download_as_pdf").on("click", function(){
		  printJS({
				printable: 'print_doc',
			   
				type: 'html',
				css: ['https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', 'https://use.fontawesome.com/releases/v5.8.2/css/all.css', 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap', '']
			})
		});
 </script>
{% endblock %}