
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}   Edit Assessment   {% endblock %}

{% block content %} 
 <h1>Edit Assessment</h1>
 
 
 <div class="container">
 <p class="col-md-12">You can Edit your Assessment using the following form:</p>
 <form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}
     {{ assessment_form}}
     
 <div class="col-md-12 row">
 	<input type="submit" class="btn btn-danger"value="Save changes">
 	
 </div>
 </form>
 </div>

 

  
<style type="text/css">
	ul {
	  list-style-type: none;
	}
</style>  
<script type="text/javascript">
 $(document).ready(function(){	
 	$("#id_total_exam_duration").prop("readonly", true);
 	$("#id_expired_on_0,#id_exam_start_date_time_0").attr("placeholder", "YYYY:MM:DD");
 	$("#id_expired_on_1, #id_exam_start_date_time_1").attr("placeholder", "HH:MM:SS");
 	
 	$('.myDateClass, #id_expired_on_0, #id_exam_start_date_time_0').datetimepicker( {timepicker:false, format:"Y-m-d"});
 	$('.customTimeClass').datetimepicker( {datepicker:false,timepicker:true,format:"H:i"});
 	
 	
 	
 	function diff(start, end) {
	    start = start.split(":");
	    end = end.split(":");
	    var startDate = new Date(0, 0, 0, start[0], start[1], 0);
	    var endDate = new Date(0, 0, 0, end[0], end[1], 0);
	    var diff = endDate.getTime() - startDate.getTime();
	    var hours = Math.floor(diff / 1000 / 60 / 60);
	    diff -= hours * 1000 * 60 * 60;
	    var minutes = Math.floor(diff / 1000 / 60);
	
	    // If using time pickers with 24 hours format, add the below line get exact hours
	    if (hours < 0)
	       hours = hours + 24;
	
	    return (hours <= 9 ? "0" : "") + hours + ":" + (minutes <= 9 ? "0" : "") + minutes;
	}
    
      
   $("#id_exam_start_date_time_1, #id_expired_on_1").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        
               return false;
    }
    if ($(this).val().length ==2 || $(this).val().length == 5 ){
        $(this).val($(this).val() + ":")
    }
   });
    
   $("#id_expired_on_0, #id_exam_start_date_time_0").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        
               return false;
    }
    if ($(this).val().length ==4 || $(this).val().length == 7 ){
        $(this).val($(this).val() + "-")
    }
   });
   
   
 });
 </script>


{% endblock %}
