{% extends "student/base.html" %} {% block title %}DashBoard Student{% endblock %} {% block content %}

<h3>Assesment In Progres:</h3>

{% if user.is_authenticated and request.user.student in assesment_object.subscriber_users.all %}

<form action="{% url 'student:assesments:process_assesment' %}" method="POST">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for question in all_question_to_answer %}
      <tr>
        <td>{{ question.question_text }}</td>
        <td>{{ question.question_type }}</td>
        <td>{{ question.option_one }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>



{% if all_question_to_answer.has_other_pages %}
  <ul class="pagination btn-toolbar" role="toolbar" aria-label="pagination_toolbar">
  	
    {% if all_question_to_answer.has_previous %}
      
      <li class="nav-item">
      <button type="button" class=" btn" name="page" value={{all_question_to_answer.previous_page_number }}>
				&laquo;</button>
		</li>
    {% else %}
      <li class="nav-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in all_question_to_answer.paginator.page_range %}
      {% if all_question_to_answer.number == i %}
        <li class="nav-item   active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="nav-item">
        <button type="button" class="btn btn-default" name="page" value={{ i }}> {{ i }} </button>
        </li>
      {% endif %}
    {% endfor %}
    {% if all_question_to_answer.has_next %}
      <li class="nav-item">
      <button type="button" class=" btn btn-default" name="page" value={{ all_question_to_answer.next_page_number }}> &raquo; </button>
      </li>
    {% else %}
      <li class="nav-item btn disabled btn-default"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



{% endif %}

{% endblock %}

</form>
