{% extends "student/base.html" %} {% block title %}DashBoard Student{% endblock %} {% block content %}

<h3>Assesment In Progres:</h3>

{% if user.is_authenticated and request.user.student in assesment_object.subscriber_users.all %}

<form action="{% url 'student:assesments:process_assesment' %}" method="POST">
<table class="table table-bordered">


  <tbody>
    {% for question in all_question_to_answer %}
	<tr>
      <th class="col-md-1">Question :</th>
      <th>{{ question.question_text }}</th>
    </tr>
	{% if question.question_type|lower == 'scq'%}
	  <tr>
        <td><input type="radio" name="answer" id="option1"></td>
        <td>{{ question.option_one }}</td>
      </tr>
      <tr>
        <td><input type="radio" name="answer" id="option2"></td>
        <td>{{ question.option_two }}</td>
      </tr>
      <tr>
        <td><input type="radio" name="answer" id="option3"></td>
        <td>{{ question.option_three }}</td>
      </tr>
      <tr>
        <td><input type="radio" name="answer" id="option4"></td>
        <td>{{ question.option_four }}</td>
      </tr>
      <tr>
        <td><input type="radio" name="answer" id="option5"></td>
        <td>{{ question.option_five }}</td>
      </tr>
      {% elif question.question_type|lower == 'mcq' %}
	  <tr>
        <td class="col-md-1"><input type="checkbox" name="answer" id="option1"></td>
        <td>{{ question.option_one }}</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="answer"  id="option2"></td>
        <td>{{ question.option_two }}</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="answer"  id="option3"></td>
        <td>{{ question.option_three }}</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="answer"  id="option4"></td>
        <td>{{ question.option_four }}</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="answer"  id="option5"></td>
        <td>{{ question.option_five }}</td>
      </tr>
    {% elif question.question_type|lower == 'sqa' %}
      <tr>
        <td colspan="2" >
        	<textarea rows="20" name="answer" id="brief_answer" ></textarea>
        </td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
  <tr>
      <th class="col-md-1"><input type="button" class="" name="saveonly" id="saveonly" value="Save"/></th>
      <th><input type="button" class="" name="saveandnext" id="saveandnext" value="Save And Next"/></th>
    </tr>
  </tfoot>
</table>



{% if all_question_to_answer.has_other_pages %}
  <ul class="pagination btn-toolbar" role="toolbar" aria-label="pagination_toolbar">
  	
    {% if all_question_to_answer.has_previous %}
      
      <li class="nav-item">
      <button type="button" class=" btn" name="page" value={{all_question_to_answer.previous_page_number }}>
				&laquo;</button>
		</li>
    {% else %}
      <li class="nav-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in all_question_to_answer.paginator.page_range %}
      {% if all_question_to_answer.number == i %}
        <li class="nav-item   active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="nav-item">
        <button type="button" class="btn btn-default" name="page" value={{ i }}> {{ i }} </button>
        </li>
      {% endif %}
    {% endfor %}
    {% if all_question_to_answer.has_next %}
      <li class="nav-item">
      <button type="button" class=" btn btn-default" name="page" value={{ all_question_to_answer.next_page_number }}> &raquo; </button>
      </li>
    {% else %}
      <li class="nav-item btn disabled btn-default"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



{% endif %}

{% endblock %}

</form>
