
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}   Manage Single Assesment  {% endblock %}


{% block content %} 
<style>
	.ldBar {
	    position: relative
	}
	
	.ldBar.label-center>.ldBar-label {
	    position: absolute;
	    top: 50%;
	    left: 50%;
		font-size : 30;
		font-style : italic;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    text-shadow: 0 0 3px #fff
	}
	
	.ldBar-label:after {
	    content: "%";
	    display: inline
	}
	</style>
	
<h1>Manage Single Assesment</h1>

<br>
<!-- ------------------- Student Assessment Bubble Progress Bar ------------------- -->

<div class="container">
<div id="user_message_display">
		{% for message in messages %}
				<div class="row col-md-12">
				<a class="btn btn-success waves-effect waves-light" role="button">
				 <code>{{ message|safe }}</code>
				
				</a>
				</div>
			
		{% endfor %}
	</div>
	<div class="row">
		<h2>Metrics:</h2>
	</div>
	<div class="row">
		
		<div class="col-md-6">
			<div class="card border-success " style="">
			  <div align="center" class="card-body text-success">
			   <font style="font-size:60;" color="blue"><span class="count">{{ total_subscribes_student }}</span></font>
			  </div>
			  <div align="center" class="card-footer bg-transparent border-success">Total Subscribes Student </div>
			</div>
		  </div>
		<div  class="col-md-6">
			<div class="card border-success " style="">
			  <div align="center" class="card-body text-success">
			   <font style="font-size:60;" color="lightgreen"><span class="count">{{ attend_exam_student }}</span></font>
			  </div>
			  <div align="center" class="card-footer bg-transparent border-success">All Student Submitted Assessments</div>
			</div>
		  </div>
		
		</div>
	<div class="row">

		<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'staff:assesments:assesment_manage_add_question' request.resolver_match.kwargs.assesmentid %}">
			<button class="btn btn-default " type="submit">Add Question</button>
		</form>
		
	</div>
	<div class="row">
		<h4 >Questions : </h4>
	</div>
	<div class="row">
		{% render_table table  %}
	</div>
</div>
  
  
  
  
  
</div>


<br>

<!-- ------------------- Table Data ------------------- -->

<div class="container">

  <div class="row">

    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url "staff:assesments:add_question_section" request.resolver_match.kwargs.assesmentid %}">
     
      <button class="btn btn-default " type="submit">Add Question Section</button>
    </form>
    
 </div>
 
 
 <div class="row">
 <p> Linked Question Section</p><br>
 </div>
 
 <div class="row">
 {% render_table table_section  %}
 </div>
 
 <br>
  
 <!-- Publish All Results  -->
   <div class="row">

    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url "staff:assesments:publish_all_results" request.resolver_match.kwargs.assesmentid %}">
      {% if flag %}
      	<button class="btn btn-default " type="submit">Publish All Results</button>
      {% else %}
      	<button class="btn btn-default " type="submit">Un-Publish All Results</button>
      {% endif %}
    </form>
    
 </div>
 
 
 <div class="row">
  <p> Linked Results</p>
  {% render_table table_result  %}
  
 </div>
 
 </div>
 
 
<!-- Counter increment motion Script======================================================== -->
<script>
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
 
{% endblock %}




