
{% extends "base.html" %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}

{% load bootstrap4 %}
{% load static %}


{% block title %}   Manage All Assesments   {% endblock %}




{% block content %} 
<style>
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.card-footer {
    float:left;
    width:100%;
    
}
.card-footer a{
    text-decoration:none;
	margin-right:1em;
}
.roundme {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 0px;
}
.roundme:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}
</style>
 <h1><i class="fab fa-battle-net"></i> Manage</h1>

<div class="container"> 

		
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
		
		
	 </div>
	 


<div class="row">
	
		<button type="button" class="col-sm-12 col-md-12 " data-toggle="collapse" data-target="#manage_all_assesment" aria-expanded="false" aria-controls="manage_all_assesment">
			  <h5>Assessment   <span class="badge badge-dark pull-right"> Total  {{table.rows|length}} </h5></span>
			</button>
		<div class="collapse" id="manage_all_assesment">
		  <div class="card card-body">
			<p>Manage all your assessment from this single page. Get started by creating a Assesment and adding few Question and Student in it. All your Assesment will be available to Student between start and end of the exam date time and  having visibility <strong>Public</strong>.
			<br/>Symbol : 
			<br/> <i class="fa fa-lock " aria-hidden="true"></i> Visibility Private - This type assessment will not be visible to Student 
			<br/><i class="fas fa-unlock " aria-hidden="true"></i> Visibility Public - This type Assesment will be visible for Student to take exams.</p>
			<br/><i class="fas fa-cogs " aria-hidden="true"></i> Manage your Assesment here by adding questions, section and viewing results.</p>
			<br/><i class="fas fa-edit " aria-hidden="true"></i>From here you can edit the Meta information and Add more students to your Assessment.</p>
			<br/><i class="fas fa-trash-alt" aria-hidden="true"></i>Delete. Note Once deleted you will not be able to restore your Assessment data.</p>
		  </div>
		</div>
</div>
	
	{% if filter %}
    <form method="get" class="form row">
		<div class="input-group mb-3">
		<input type="text" class="form-control" name="header__icontains" placeholder="Title Contains" aria-label="Title Contains" aria-describedby="title_contain">
	  
		<input type="text" class="form-control" name="brief__icontains" placeholder="Description " aria-label="Title Contains" aria-describedby="title_contain">
		<div class="input-group-append">
		<span class="input-group-text" id="title_contain" style=""><button class="btn btn-primary" style="margin:0;"><i class="fas fa-search"></i></button></span>
		</div>
	</div>
	</form>
	{% endif %}
		<div class=" col-sm-12 ">
			<a class="btn btn-info"  role="button" href="{% url "staff:assesments:assessment_create_by_staff" %}">
					<i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;&nbsp;<code>Create</code>
			</a>
			<a class="btn btn-info"  role="button">
				 <code>Download  <i class="fa fa-arrow-right" aria-hidden="true"></i></code>
			</a>
			{% for format in table.export_formats %}
				<a class="btn btn-primary"  role="button" href="{% export_url format %}">
					 <code>.{{ format }}</code>
				</a>
			{% endfor %}
		</div>	
	</div>
 <div class="container bg-mobile-nav">
	{% if request.user_agent.is_pc %}
		{% render_table table %}
	{% else %}
		{% render_table table  'assesments/tables_manage_all_assessment.html' %}
	{% endif %}
</div>

{% endblock %}




