
{% extends "base.html" %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}

{% load bootstrap4 %}


{% block title %}   Manage All Assesments   {% endblock %}




{% block content %} 

 <h1>Manage all the Assesments</h1>
 <br>
<div class="container"> 

		
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
		
		
	 </div>
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Search' %}
		 </form>
{% endif %}
<div class="row">
			<a class="btn btn-info"  role="button">
				 <code>Download Data <i class="fa fa-arrow-right" aria-hidden="true"></i></code>
				
			</a>
			{% for format in table.export_formats %}
			
			<a class="btn btn-primary"  role="button" href="{% export_url format %}">
				 <code>.{{ format }}</code>
				
			</a>
			
			{% endfor %}
		</div>

 <div class="row">
  {% render_table table  %}
</div>

{% endblock %}




