{% extends "staff/base.html" %}
{% load literal_eval %}
{% load crispy_forms_tags %}

{% block title %}Add a Question{% endblock %} {% block content %}

<h3>Add a Question:</h3>


{% if form_errors %}
<div id='form-errors' >
{{form_errors}}
{% comment %}
		{% for key, value in form_errors.items %} 
  			<li>{{value}}</li>
 		{% endfor %}	
{% endcomment %}
</div>
{% endif %}

{% crispy question_form question_form.helper %}



<script type="text/javascript">
$(document).ready(function(){
	console.log("-- DOM Ready --");

	setup_valid_answer_fields();
	$("#id_question_type").change(function(){
    	console.log("-- On Change Start- id_question_type --");
    	show_valid_answer_fields();
    	console.log("-- On Change End- id_question_type --");
    	
	});

		
	 function setup_valid_answer_fields() {
	 	console.log("--Start setup_valid_answer_fields --");
    	if( ($("#id_question_type").val() == 'scq') || ($("#id_question_type").val() == 'mcq') ) {
	 		$("#div_id_brief_answer").hide();
	 		$("#option-fields").show();
	 		var options = ["Option One", "Option Two", "Option Three", "Option Four", "Option Five"];
	 		
	 		var container = $('#option-fields');
	 		$('<div/>', {
					    id: 'option_elements',
					   	class: 'col-md-12 row form-group'
					}).appendTo(container);
					
			var val = 1;
	 		$.each(options, function( i, name ) {
				  	var container = $('#option_elements');
				  	
			   		var inputs = container.find('input');
			   		var id = inputs.length+1;
			
			   		$('<input />', { type: 'checkbox', id: 'cb'+val, value: val, class:"correct_answer_options_raw col-md-2",name:"correct_answer_options_raw" }).appendTo(container);
			   		val++;
			   		$('<label />', { 'for': 'cb'+id, text: name , class:"col-md-2" }).appendTo(container);
				});
				
			if($("#id_question_type").val() == 'scq'){
	 			var checkbox = $("#cb1");
	 			checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class=" correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb2");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb3");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb4");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb5");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				
	 		}
	 	}else if($("#id_question_type").val() == 'sqa') {
	 		$("#div_id_brief_answer").show();
	 		$("#option-fields").hide();
	 	}
	 	console.log("--End setup_valid_answer_fields --")
	 }
	 
	 function show_valid_answer_fields() {
	 	console.log("--Start setup_valid_answer_fields --");
    	if( ($("#id_question_type").val() == 'scq') || ($("#id_question_type").val() == 'mcq') ) {
	 		$("#div_id_brief_answer").hide();
	 		$("#option-fields").show();
	 		
	 		if($("#id_question_type").val() == 'scq'){
	 			var checkbox = $("#cb1");
	 			checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb2");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb3");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb4");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb5");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				
	 		}else if ($("#id_question_type").val() == 'mcq'){
	 			var radio = $("#cb1");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb2");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb3");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb4");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb5");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
	 		}
	 	}else if($("#id_question_type").val() == 'sqa') {
	 		$("#div_id_brief_answer").show();
	 		$("#option-fields").hide();
	 	}
	 	console.log("--End setup_valid_answer_fields --")
	 }
	 
	 function addCheckbox(name) {
   		var container = $('#option-fields');
   		var inputs = container.find('input');
   		var id = inputs.length+1;

   		$('<input />', { type: 'checkbox', id: 'cb'+id, value: name }).appendTo(container);
   		$('<label />', { 'for': 'cb'+id, text: name }).appendTo(container);
	}

	$('#action_question_add').on('submit', function() {
        var checkedVals = $('.correct_answer_options_raw:checked').map(function() {
                            return this.value;
                            }).get();
        var finalOptedVal = checkedVals.join("-");
        $("#id_correct_options").val(finalOptedVal);
	});
	 console.log("-- DOM Ended --");
});
</script>


<!--  File Uploading Validation  -->

<script type="text/javascript">

$('#id_question_image').change(function(e){
	var file = $('input[type=file]').prop('files')[0];
    if (file){
    	var file_size = Math.round(file.size / 1024);
    	var file_ext = file.name.split('.')[1].toLowerCase();
    	//console.log(file_ext+" - "+file_size);
    	if(file_size > 500){
    		alert("File Size Should Be Less Than 500kb.");
			document.getElementById("id_question_image").value = "";
    	}
    	else{
	    	var validFileExtensions = ["jpg", "jpeg", "png"];
	    	switch(file_ext)
	        {
	            case 'jpg':
	            case 'png':
	            case 'jpeg':
	                break;
	            default:
	                alert('File Should Upload Be Only .jpg, .jpeg, .png');
	                this.value='';
	        }
    	}
    	
    }
})


</script>

{% endblock %}
