
{% extends "base.html" %}
{% load literal_eval %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Add a Question{% endblock %} {% block content %}
 





<!-- For High Chart-->
<link href="{% static '/css/highcharts-editor.min.css' %}" rel="stylesheet"type="text/css" />

<script src="https://code.highcharts.com/stock/highstock.js" type="text/javascript" charset="utf-8" ></script>
<script src="https://code.highcharts.com/modules/data.js" type="text/javascript" charset="utf-8" ></script>
<script src="https://code.highcharts.com/highcharts-more.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.highcharts.com/highcharts-3d.js" type="text/javascript" charset="utf-8" ></script>
    <script src="https://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/modules/funnel.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/modules/annotations.js" type="text/javascript"></script>

    <script src="{% static '/js/highcharts-editor.complete.js' %}" type="text/javascript"></script>
    <script src="https://cdn.tiny.cloud/1/1qzknskyuat8vftbr3r30jkwppeoawjk55txwmqrdppkr5cf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="{% static '/js/highcharts-editor.tinymce.js' %}" type="text/javascript"></script>

  
<!-- For Tiny Mce WIth High Chart-->

 
 
 
 <h1>Add a Question:</h1>

{% if form_errors %}

<div id='form-errors' >
{{form_errors}}
{% comment %}
		{% for key, value in form_errors.items %} 
  			<li>{{value}}</li>
 		{% endfor %}	
{% endcomment %}
</div>
{% endif %}

<div class="container">
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
	<form enctype="multipart/form-data" method="POST" id="add_question_form">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12"><h3 >Please use the below form for adding a Question :</h3></div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="brief_answer">{{"Question:"|title}}*</label>
					<div class="input-group">
						
						{% render_field question_form.question_text  class="form-control " rows="3" %}
					</div>
			</div>
			
		</div>
		<div class="form-row">
			<div class="form-group col-md-4"> {{ question_form.max_marks | as_crispy_field }}</div>
			<div class="form-group col-md-4"> {{ question_form.question_image | as_crispy_field }} <span class="small em">File(jpg/jpeg/png) Size Should Be Less Than 500kb.</span></div>
			<div class="form-group col-md-4"> {{ question_form.question_type | as_crispy_field }}</div>
		</div>
		<div class="row" id="div_id_brief_answer">
			<div class="col-md-12">
			<label for="brief_answer">{{"Reference Answer(not visible to student)"|title}}</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">
							<i class="fa fa-eye-slash" aria-hidden="true"></i>
						</span>
					</div>
					{% render_field question_form.brief_answer  class="form-control " rows="3" %}
				</div>
			</div>
		</div>
		<div class="form-row option-fields">
			<div class="col-md-6">
				<label for="option_one">{{"Option 1: "|title}}</label>

					{% render_field question_form.option_one  class="form-control " rows="2" %}
			</div>
			<div class="col-md-6">
				<label for="option_one">{{"Option 2: "|title}}</label>

					{% render_field question_form.option_two  class="form-control " rows="2" %}
			</div>
		</div>
		<div class="form-row option-fields">
			<div class="col-md-6">
				<label for="option_three">{{"Option 3: "|title}}</label>
				{% render_field question_form.option_three  class="form-control " rows="2" %}
			</div>
			<div class="col-md-6 option-fields">
				<label for="option_four">{{"Option 4: "|title}}</label>

					{% render_field question_form.option_four  class="form-control " rows="2" %}
			</div>
		</div>
			
		<div class="form-row">	
			<div class="form-group col-md-6 option-fields"> 
				<label for="option_three">{{"Option 5: "|title}}</label> 
				{% render_field question_form.option_five  class="form-control " rows="2" %}
			</div>
			
		</div>
		<div class="form-row">	
			<label for="option_three">Please select the correct options: </label> 
			<div class="form-group col-md-12 option-fields" id="option-answer"> 
				
			</div>
		</div>
		<div class="form-row">
				
				{% render_field question_form.correct_options  type="hidden" class="form-control "  %}
			  <div class="col-sm-6 col-md-4">
				<button id="Submit" name="Submit" class="btn btn-success">Submit</button>
			  </div>
			  <div class="col-sm-6 col-md-4">
				<button id="reset" name="reset" class="btn btn-danger">Reset</button>
			  </div>
			
		</div>
	</form>
</div>




<script type="text/javascript">
$(document).ready(function(){
	console.log("-- DOM Ready --");

	setup_valid_answer_fields();
	$("#id_question_type").change(function(){
    	console.log("-- On Change Start- id_question_type --");
    	show_valid_answer_fields();
    	console.log("-- On Change End- id_question_type --");
    	
	});

		
	 function setup_valid_answer_fields() {
	 	console.log("--Start setup_valid_answer_fields --");
    	if( ($("#id_question_type").val() == 'scq') || ($("#id_question_type").val() == 'mcq') ) {
	 		$("#div_id_brief_answer").hide();
	 		$("#option-fields").show();
	 		var options = ["Option One", "Option Two", "Option Three", "Option Four", "Option Five"];
	 		
	 		var container = $('#option-answer');
	 		$('<div/>', {
					    id: 'option_elements',
					   	class: 'col-md-12 row form-group'
					}).appendTo(container);
					
			var val = 1;
	 		$.each(options, function( i, name ) {
				  	var container = $('#option_elements');
				  	
			   		var inputs = container.find('input');
			   		var id = inputs.length+1;
			
			   		$('<input />', { type: 'checkbox', id: 'cb'+val, value: val, class:"correct_answer_options_raw col-md-2",name:"correct_answer_options_raw" }).appendTo(container);
			   		val++;
			   		$('<label />', { 'for': 'cb'+id, text: name , class:"col-md-2" }).appendTo(container);
				});
				
			if($("#id_question_type").val() == 'scq'){
	 			var checkbox = $("#cb1");
	 			checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class=" correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb2");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb3");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb4");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb5");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				
	 		}
	 	}else if($("#id_question_type").val() == 'sqa') {
	 		$("#div_id_brief_answer").show();
	 		$(".option-fields").hide();
	 	}
	 	console.log("--End setup_valid_answer_fields --")
	 }
	 
	 function show_valid_answer_fields() {
	 	console.log("--Start setup_valid_answer_fields --");
    	if( ($("#id_question_type").val() == 'scq') || ($("#id_question_type").val() == 'mcq') ) {
	 		$("#div_id_brief_answer").hide();
	 		$(".option-fields").show();
	 		
	 		if($("#id_question_type").val() == 'scq'){
	 			var checkbox = $("#cb1");
	 			checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb2");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb3");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb4");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				var checkbox = $("#cb5");
				checkbox.replaceWith('<input type="radio" name="'+checkbox.attr('name')+'" value="'+checkbox.attr('value')+'" id="'+checkbox.attr('id')+'" class="correct_answer_options_raw col-md-2" />');

				
	 		}else if ($("#id_question_type").val() == 'mcq'){
	 			var radio = $("#cb1");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb2");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb3");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb4");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
				var radio = $("#cb5");
				radio.replaceWith('<input type="checkbox" name="'+radio.attr('name')+'" value="'+radio.attr('value')+'" id="'+radio.attr('id')+'" class="correct_answer_options_raw col-md-2" />');
				
	 		}
	 	}else if($("#id_question_type").val() == 'sqa') {
	 		$("#div_id_brief_answer").show();
	 		$(".option-fields").hide();
	 	}
	 	console.log("--End setup_valid_answer_fields --")
	 }
	 
	 function addCheckbox(name) {
   		var container = $('#option-answer');
   		var inputs = container.find('input');
   		var id = inputs.length+1;

   		$('<input />', { type: 'checkbox', id: 'cb'+id, value: name }).appendTo(container);
   		$('<label />', { 'for': 'cb'+id, text: name }).appendTo(container);
	}

	$('#add_question_form').on('submit', function() {
        var checkedVals = $('.correct_answer_options_raw:checked').map(function() {
                            return this.value;
                            }).get();
        var finalOptedVal = checkedVals.join("-");
        $("#id_correct_options").val(finalOptedVal);
	});
	 console.log("-- DOM Ended --");
});
</script>


<!--  File Uploading Validation  -->

<script type="text/javascript">

$('#id_question_image').change(function(e){
	var file = $('input[type=file]').prop('files')[0];
    if (file){
    	var file_size = Math.round(file.size / 1024);
    	var file_ext = file.name.split('.')[1].toLowerCase();
    	//console.log(file_ext+" - "+file_size);
    	if(file_size > 500){
    		alert("File Size Should Be Less Than 500kb.");
			document.getElementById("id_question_image").value = "";
    	}
    	else{
	    	var validFileExtensions = ["jpg", "jpeg", "png"];
	    	switch(file_ext)
	        {
	            case 'jpg':
	            case 'png':
	            case 'jpeg':
	                break;
	            default:
	                alert('File Should Upload Be Only .jpg, .jpeg, .png');
	                this.value='';
	        }
    	}
    	
    }
});

 tinymce.init({
    selector: '#id_question_text',
	  
    plugins: ['a11ychecker  casechange formatpainter linkchecker autolink lists advlist  checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker link autoresize preview hr fullscreen toc',
					'highcharts highchartssvg noneditable ',
					],
    toolbar: ' fullscreen undo redo | styleselect code | bold italic | alignleft aligncenter alignright alignjustify | table bullist numlist outdent indent | link image media | insertfile fontsizeselect ',
    toolbar_mode: 'floating',
	menubar:'file view edit insert format tools table highcharts',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
	height : "300",
	width : "100%",
	  
	menu: {
		highcharts: {
		  title: "Highcharts",
		  items: "highcharts"
		}},
		
	
		
    });


</script>

{% endblock %}
