{% extends "base.html" %}
{% load literal_eval %}

{% load tz %}



{% block title %}{{assesment_object.header}}{% endblock %} {% block content %}

<h1>
{% if request.user_agent.is_pc %}
    {{all_question_to_answer.0.assesment_linked.header }}
{% endif %}</h1>

<div class="container" >
	{% if request.user_agent.is_mobile %}
		<h4> {{all_question_to_answer.0.assesment_linked.header }}</h4>
	{% endif %}
	<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
		
		
	</div>



{% if assesment_object.privilege == 'open' %}


		


<form action="" method="GET" id="questionProcessingForm">


	{% if all_question_to_answer.0.question_type|lower == "scq"  or  all_question_to_answer.0.question_type|lower == "mcq" %}
		<input type="hidden" value = '{{ all_question_to_answer.0.correct_options|replace:"/['\"]/_"  }}' name="selected_answer" id="selected_answer" />		
	{% endif %}
		


<table class="table table-bordered">
  <tbody>
    {% for question in all_question_to_answer %}
    <input type="hidden" value={{question.pk}} name="question_id">
	<tr>
      <th style="width:10%;">Question {{ all_question_to_answer.number}}</th>
      <th>{{ question.question_text }}</th>
    </tr>
    
    {% if question.id in question_image_obj %}
    <tr>
     <th style="vertical-align: middle;">Figure</th>
     <td colspan=2><img width="auto" height="150px" src="{{ question_image_obj|get_item:question.id}}"/></td>
    </tr>
    {% endif %}
    
	{% if question.question_type|lower == 'scq'%}
	<input type="hidden" name="question_type" value="scq" />
	  <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_one|length > 0 %}
        <input class="form-control" type="radio" name="answer" id="option1" value=1 {% if get_the_answer_obj.opted_choice.2 == 1 %} checked="checked" {% endif %}>
				{% endif %}
        </div>
        </td>
        <td>{{ question.option_one }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_two|length > 0 %}
        <input class="form-control" type="radio" name="answer" id="option2" value=2 {% if  get_the_answer_obj.opted_choice.2 == 2 %} checked="checked" {% endif %}></td>
        {% endif %}
				</div>
        <td>{{ question.option_two }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_three|length > 0 %}
        <input class="form-control" type="radio" name="answer" id="option3" value=3 {% if get_the_answer_obj.opted_choice.2 == 3 %} checked="checked" {% endif %} ></td>
        {% endif %}
				</div>
        <td>{{ question.option_three }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_four|length > 0 %}
        <input class="form-control" type="radio" name="answer" id="option4" value=4 {% if get_the_answer_obj.opted_choice.2 == 4 %} checked="checked" {% endif %} ></td>
        {% endif %}
				</div>
        <td>{{ question.option_four }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_five|length > 0 %}
        <input class="form-control" type="radio" name="answer" id="option5" value=5 {% if get_the_answer_obj.opted_choice.2 == 5 %} checked="checked" {% endif %}></td>
        {% endif %}
				</div>
        <td>{{ question.option_five }}</td>
      </tr>
      {% elif question.question_type|lower == 'mcq' %}
      <input type="hidden" name="question_type" value="mcq" />
	  <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_one|length > 0 %}
        <input class="form-control" type="checkbox" name="answer" id="option1" value=1></td>
        {% endif %}
				</div>
        <td>{{ question.option_one }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_two|length > 0 %}
        <input class="form-control" type="checkbox" name="answer"  id="option2" value=2></td>
				{% endif %}
        </div>
        <td>{{ question.option_two }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_three|length > 0 %}
        <input class="form-control" type="checkbox" name="answer"  id="option3" value=3>
				{% endif %}																					 
				</td>
        </div>
        <td>{{ question.option_three }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_four|length > 0 %}
        <input class="form-control" type="checkbox" name="answer"  id="option4" value=4 class="form-control" >
        {% endif %}
				</div>
        </td>
        <td>{{ question.option_four }}</td>
      </tr>
      <tr>
        <td style="width:10%;>
        <div class="form-group">
				{% if question.option_five|length > 0 %}
        <input class="form-control" type="checkbox" name="answer" class="form-control"  value=5 id="option5">
        {% endif %}
				</div>
        </td >
        <td>{{ question.option_five }}</td>
      </tr>
    {% elif question.question_type|lower == 'sqa' %}
    <input type="hidden" name="question_type" value="sqa" />
      <tr>
        <td colspan="2" >
        <div class="form-group">
        	<textarea class="form-control" rows="20" name="answer" id="brief_answer" > {{get_the_answer_obj.written_answer}} </textarea>
        	</div>
        </td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
 
</table>









{% endif %}



</form>


<script type="text/javascript">
$(document).ready(function(){
	 
	 	
	 if ($("#selected_answer").length > 0 ){
	 	var numberPattern = /\d+/g;
		 selected_answers = $("#selected_answer").val();
		 arr_of_selected_answer=selected_answers.match(numberPattern);
		 
		 if (arr_of_selected_answer.length > 0){
		 	if (arr_of_selected_answer.length == 1){
		 		val_to_test = parseInt(arr_of_selected_answer[0]);
		 		
		 		switch(val_to_test){
		 			case 1:
		 				$("#option1").prop("checked", true);
		 				break;
		 			case 2:
		 				$("#option2").prop("checked", true);
		 				break;
		 			case 3:
		 				$("#option3").prop("checked", true);
		 				break;
		 			case 4:
		 				$("#option4").prop("checked", true);
		 				break;
		 			case 5:
		 				$("#option5").prop("checked", true);
		 				break;
		 		}
		 			
		 	} else if(arr_of_selected_answer.length > 1) {
		 			
		 			
		 			for (i = 0; i < arr_of_selected_answer.length; i++) { 
	    				val_to_test = parseInt(arr_of_selected_answer[i])
	
		    			switch(val_to_test){
			 			case 1:
			 				$("#option1").prop("checked", true);
			 				break;
			 			case 2:
			 				$("#option2").prop("checked", true);
			 				break;
			 			case 3:
			 				$("#option3").prop("checked", true);
			 				break;
			 			case 4:
			 				$("#option4").prop("checked", true);
			 				break;
			 			case 5:
			 				$("#option5").prop("checked", true);
			 				break;		
						}		
		 			}	
	 		}
	 	}	
	 }
	 
	
	 	
});

</script>
 
 
<!-- Assessment Time Script -->
<script type="text/javascript">


//Restriction Code For Browser Back Button
(function (global) { 

    if(typeof (global) === "undefined") {
        throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
        global.location.href += "#";

        // making sure we have the fruit available for juice (^__^)
        global.setTimeout(function () {
            global.location.href += "!";
        }, 50);
    };

    global.onhashchange = function () {
        if (global.location.hash !== _hash) {
            global.location.hash = _hash;
        }
    };

    global.onload = function () {            
        noBackPlease();

        // disables backspace on page except on input fields and textarea..
        document.body.onkeydown = function (e) {
            var elm = e.target.nodeName.toLowerCase();
            if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
                e.preventDefault();
            }
            // stopping event bubbling up the DOM tree..
            e.stopPropagation();
        };          
    }

})(window);

$(document).ready(function(){
    $(this).bind("contextmenu", function(e) {
        e.preventDefault();
    });
	$('textarea').on("cut copy paste",function(e) {
      e.preventDefault();
   });
});
</script>

{% endblock %}
</div>


