{% extends "base.html" %}


{% block title %} {{assesment_object.header}}{% endblock %} {% block content %}
{% block more_meta_tags %}
 <meta name="author" content="{{assesment_object.created_by.get_full_name|default:assesment_object.created_by.username}}">
 <meta name="title" content="{{assesment_object.header|title}}">
 <meta name="keywords" content="{{assesment_object.tags.all |join:","}}">
 

 
  
{% endblock %}

<h1> </h1>
<div class="container" style="min-height:60%;">
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
<center>	
<h5>Please Read the Below Examination Instruction Carefully:</h5>

{% if assesment_object.privilege == 'open' %}
<form action='/student/open/process/' method="POST">
	{% csrf_token %} 
<div  class="card mb-3 text-center ""  style="max-width: 700px;">
									<div class="card-header">
										<h5 class="card-title">{{ assesment_object.header }} </h5>
										
										<ul class="nav nav-pills card-header-pills justify-content-center">
										  <li class="nav-item">
											<i class="fa fa-scissors" aria-hidden="true"></i> {{assesment_object.passing_marks}} Minimum Marks
										  </li>
										  <li class="nav-item">
											&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> {{assesment_object.duration_hours}} Hour &nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> {{assesment_object.duration_minutes}} Minutes
										  </li>
										  <li class="nav-item">
											 
										  </li>
										 
										</ul>
									</div>
									<div class="card-body">
										
										
										<p class="card-text">{{ assesment_object.brief }}</p>
										{{assesment_object.take_assesment}}</p>
										
										<input type="hidden" name="assesment_obj" value={{ assesment_object.pk }}>
										<input type="hidden" name="start_assesment_boolean" value="True">
										
										<div class="input-group col-sm-12 col-md-12">
										<label for="open_exam_name"><small >Name to display in Result</small></label>
											</div>		
										<div class="input-group col-sm-12 col-md-12">
												<div class="input-group-prepend ">
													<span class="input-group-text bg-dark text-white" id="basic-addon1"><i class="fas fa-user-graduate"></i></span>
												 </div>
												 <input class="form-control" type="text" name="open_exam_result_name" placeholder="Please Enter Your Name" required="required" />
												
											</div>
											<!--INFOLINKS_OFF-->
										<button type="submit" class=" col-sm-12 btn btn-danger" ><i class="fa fa-play-circle" aria-hidden="true"></i> Start Now</button>
											<!--INFOLINKS_ON-->
									</div>
									
							
									 <div class="card-footer text-muted">
										<small>
										<ul class="nav nav-pills card-header-pills justify-content-center">
											<li class="nav-item">
												<i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ assesment_object.created_by.get_full_name|default:assesment_object.created_by }}
										  </li>
										  <li class="nav-item">
											<i class="fa fa-hourglass" aria-hidden="true"></i> {{assesment_object.exam_start_date_time}}
											<i class="fa fa-hourglass-o" aria-hidden="true"></i> {{ assesment_object.expired_on }}
										  </li>
										  
										 
										</ul>
										
										</small>
										<h5>
										<a href="javascript:{window.location='https://wa.me/?text=https://www.swaple.in{% url 'staff:assesments:open_assesment_intro' slug=assesment_object.slug %}   {{assesment_object.brief}} Author {{ assesment_object.created_by.get_full_name|default:assesment_object.created_by }}'}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
										&nbsp;
										<a href="javascript:{window.location='https://telegram.me/share/url?url=https://www.swaple.in{% url 'staff:assesments:open_assesment_intro' slug=assesment_object.slug %}&text={{assesment_object.brief}} Author {{ assesment_object.created_by.get_full_name|default:assesment_object.created_by }}'}"><i class="fa fa-telegram" aria-hidden="true"></i></a>
										</h5>
										
									 </div>
							
						
						
						</div>

</form>
</center>	
{% endif %}
</div>
{% endblock %}

