{% extends "base.html" %}

{% block title %}   Add Question Section  {% endblock %}

{% if messages %}
<div class="alert alert-success">
    {% for m in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
    {% endfor %}
</div>
{% endif %}

{% block content %}
 <h1>Add Question Section  </h1>
 
 <div class="container" style="min-height:60%">
 <p>You can Add Question Section  using the following form:</p>
 
 
  <form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}


     {{ form.name.label}}<br>
     {{ form.name	}}<br><br><br>

     
 <p><input type="submit" class="btn btn-success" value="Save changes"></p>
 </form>
 
  
 </div>
{% endblock %}
 