{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}   Add Question Section  {% endblock %}

{% if messages %}
<div class="alert alert-success">
    {% for m in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
    {% endfor %}
</div>
{% endif %}

{% block content %}
<style>
input[type=checkbox]  {
	width:5%;
}

label {
	width:95%;
	white-space: nowrap!important;
}
</style>
 <h1>Add Question Section  </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%">
 <div class="row">
	<p>You can Add Question Section  using the following form:</p>
 </div>
 
  <form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}

	<div class="row">
		<div class="form-group col-md-12">
							{{ form.name|as_crispy_field  }}
		</div>
	</div>
	
   
 <p><input type="submit" class="btn btn-success" value="Save changes"></p>
 </form>
 
  
 </div>
{% endblock %}
 