{% extends "base.html" %}
{% block title %}  Delete Question Section   {% endblock %}

{% if messages %}
 <div id="userDisplayMessage">
 	<ul class="messages" >    
 		{% for message in messages %}
 		      <li class="{{ message.tags }}">        {{ message|safe }}          </li>
 		{% endfor %}
   </ul>
 </div>
 {% endif %}

{% block content %} 
 <h1>Delete Question Section </h1>
       
  <form method="POST" action="."> {% csrf_token %}
      <h3>Are you sure you want to delete: "{{ Section.name }}"?</h3>
              
     <input type='submit' value='Delete'  class='btn btn-success'>&nbsp;&nbsp;&nbsp
     <a href='{% url 'staff:assesments:manage_all_assesment' %}' class='btn btn-default'>Cancel</a>
  </form>


{% endblock %}