{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}   Add Question Section  {% endblock %}



{% block content %}
<style>
input[type=checkbox]  {
	width:5%;
}

label {
	width:95%;
	white-space: nowrap!important;
}

<style>
#manage_questions {
	 margin: auto;
		height: 285px;
		width: 300px;
		overflow-y: auto; /* This changed */
}
</style>
</style>
 <h1>Manage Question Section  </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
 <div class="container-fluid" style="min-height:60%">
 <div class="row">
	<p>You can Edit Question Section  using the following form:</p>
 </div>
 
  <form action="." method="post" enctype="multipart/form-data">
 {% csrf_token %}

	<div class="row">
		<div class="form-group col-md-12">
							{{ form.name|as_crispy_field  }}
		</div>
	</div>
	<div class="form-row">
			
			<div class="col-md-12 " style="">
					<p class="p">Question Mapped To This Section:</p>
			</div>
						
		</div>
	<div class="form-row">
			
			<div class="col-sm-12 col-md-12 overflow-auto" id="manage_questions" >
					{{ form.for_question|as_crispy_field }}
						
			</div>
							
		</div>
   
 <p><input type="submit" class="btn btn-success" value="Save changes"></p>
 </form>
 
  
 </div>
 <script>
 $.fn.selectpicker.Constructor.BootstrapVersion = '4';

	$('#id_for_question').selectpicker({
		liveSearch: true,
		countSelectedText: 'Question {0}/{1}',
		actionsBox: true,
		selectedTextFormat: 'count > 1',
		
		style : 'btn-light',
		styleBase : 'btn',
		{% if request.user_agent.is_mobile %}
		mobile: true,
		{% endif %}
		size:5,
		container: 'container',
		
		
	});
	$('#id_for_question').addClass('col-sm-8').selectpicker('setStyle');
	
 </script>
{% endblock %}
 