{% extends "base.html" %}

{% block title %}   Add Questions In Section  {% endblock %}

{% block script %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
        $(function () {

//===================== Drag code =====================

            $("#draggable h4").draggable({
                helper: 'clone',
                opacity : '0.3', 
            });
            
		    $( "#droppable" ).droppable({
                drop: function (event, ui) {
                $( this )
          		.find( "p" )
            	.html("");
                $("#droppable").append(ui.draggable.draggable());
		      }
		    });
		    
		    $( "#draggable" ).droppable({
                drop: function (event, ui) {
                $("#draggable").append(ui.draggable.draggable());
		      }
		    });
		    
		    
		     $("#droppable h4").draggable({
                helper: 'clone',
                opacity : '0.3',
                

                
            });
		    
		
       });
       
       function SendData () {
  			$("#draggable input").remove();
  			
  			var input = document.getElementById("droppable").getElementsByTagName("input");
  				var question_id = [];
	  			for(i=0;i<input.length;i++)
	  			{
					question_id.push(input[i].value)
	  			}
	  			
	  			$("#droppable input").remove();
	  			
	  			$("#droppable").append("<input type=hidden name=question_id value = " + question_id + " >");
  			
       }
       
      function validateForm(){
      	if($("#droppable input")[0].value){
      		return true;
      	}
      	else{
      		alert("Section Should Not Be Empty. Add Some Questions In Section!!!");
      	 	return false;
      	}
      }
       
       
</script>

<style>
    h4{cursor:move;}
 </style>
 
{% endblock %}

{% block content %}
 <h1>Add Questions With Drag And Drop Methon in Section  </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%">
	<div class="row">
	<p class="p">You can Add Questions in Section  using the following Drag and Drop method:</p>
	</div>

	 <form action="." onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
	 {% csrf_token %}
	 <div class="row">
		<div class="col-md-6">
			<!-- Drag And Drop Data  -->
			<h2 class="h2">Questions(Draggable)</h2>
			<div id="draggable"  style="border-style:solid">
			{% if model %}
				{% for data in model %}
					{% if data.id in qsmapping_q_id %}
					{% else %}
					<h4 class="h4">{{ data.question_text}} <input type="hidden" value={{ data.id }} name={{ data.id }}><h4>
					{% endif %}
				{% endfor %}	
			{% else %}
				<p align="center">Empty Questions</p>
			{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<h2 class="h2">Drop Here Your Question</h2>
			<div id="droppable" class="ui-droppable" style="border-style:solid;">
			{% if qsmapping %}
				{% for data in qsmapping %}
				<h4>{{ data.for_question.question_text}} <input type="hidden" value={{ data.for_question.id }} name={{ data.for_question.id }}></h4> 
				{% endfor %}
			{% else %}
				<p align="center">Drop Here Questions.....</p>
			{% endif %}
			</div>
		</div>
	 </div>
	 


	


	
	
	<div class="row">
		<p><input type="submit" class="btn btn-success" value="Save changes" onclick="SendData()" style="margin-left: 240px;"></p>
	</div>
	 </form>

 
 </div>

{% endblock %}
