{% extends "base.html" %}
{% block title %}  Delete Fees Installment  {% endblock %}



{% block content %} 
 <h1>Delete Fees Installment </h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
       
  <form method="POST" action="."> {% csrf_token %}
      <h3>Are you sure you want to delete: "{{ form.student_id.studentuser.username }}" Fees Installment?</h3>
              
     <input type='submit' value='Delete'  class='btn btn-success'>&nbsp;&nbsp;&nbsp
     <a href='{% url 'staff:manage_student' %}' class='btn btn-default'>Cancel</a>
  </form>


{% endblock %}