{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load meta %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
 <head {% meta_namespaces %} > 
		{%  include 'master_static.html' %}
		{% include "google_analytics.html" %}
		{% include "google_adsense.html" %}
		
		<title>{% block title %}{% endblock %}</title>  
		{% block more_meta_tags %}{% endblock %}
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

			<style type="text/css">
				.centeredForm {
				margin: 0 auto;
				width:80% /* value of your choice which suits your alignment */
				}
				@media (max-width: 500px) {
				.myForm {
				min-width: 90%;
				}
				}
				
				.main-header, .navbar-brand {
				  background: url({% static "img/swaple_logo_png.png" %}) no-repeat top center;
				  background-size: contain;
				}

			</style>
			{% include "meta/meta.html" %}
			
		</head> <body>


			{% block menu %}
			<!--Main Navigation-->
			<header>

				<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
					<a href="{% url 'home:homeview'%}">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
					 width="20px" height="auto" viewBox="0 0 299.000000 247.000000"
					 preserveAspectRatio="xMidYMid meet">
					
					<g  transform="translate(0.000000,247.000000) scale(0.100000,-0.100000)"
					fill="#fff" stroke="none">
					<path d="M1675 2273 c-55 -47 -202 -173 -327 -279 l-228 -195 -2 -406 -3 -407
					-121 -56 c-66 -30 -168 -77 -227 -104 -59 -27 -107 -51 -107 -55 0 -3 33 -42
					73 -87 39 -44 93 -105 119 -135 25 -30 54 -64 65 -75 10 -12 81 -94 158 -183
					77 -88 142 -161 145 -161 4 0 15 8 26 18 10 9 46 40 79 67 33 27 123 104 200
					170 77 66 188 161 248 210 l107 89 0 332 0 331 -75 34 c-41 19 -74 36 -75 39
					0 3 129 65 288 138 158 73 298 139 310 146 24 13 23 14 -90 143 -356 407 -424
					486 -431 499 -4 8 -13 14 -20 14 -7 -1 -57 -40 -112 -87z"/>
					</g>
					</svg>
					</a>
					<a class="navbar-brand" href="javascript:void;">
					
					<strong>SWAPLE</strong></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{% url "staff:assesments:manage_open_assesment" %}"><i class="fas fa-globe-americas"></i> Open Test/Assessment <span class="sr-only"> </span></a>
							</li>
							{% if request.user.is_authenticated %} 
							<li class="nav-item ">
								<a class="nav-link" href="{% url "institutions:dashboard" %}"><i class="fas fa-laptop-house"></i> Home <span class="sr-only"> {% if section == "dashboard" %}(current){% endif %}</span></a>
							</li>
							{% endif %}

							{% if request.user.is_authenticated and perms.institutions.is_institute %} 



							<!--<li class="nav-item" > <a class="nav-link" href="{% url "institutions:view_student_fees_installment" %}"> Student Fees Installment</a> </li>-->	 
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-chalkboard-teacher"></i> Staff
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "staff:dashboard" %}><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:manage_staff" %}><i class="fas fa-users-cog"></i>&nbsp;Manage Staff</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:create_institution_staff" %}><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Staff</a> </li>
									</div>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="far fa-user-circle"></i> Profile
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "institutions:password_change" %}><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Change Password</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:edit" %}><i class="fa fa-user-edit" aria-hidden="true"></i>&nbsp;Edit Profile</a> </li>
									</div>
								</ul>
							</li>


							{% endif %}
							{% if request.user.is_authenticated %} 
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-book-reader"></i> Student
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 

										<li class="dropdown-item" > <a  href ={% url "staff:manage_student" %}><i class="fa fa-users-cog" aria-hidden="true"></i>&nbsp;Manage Student</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:add_student" %}><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Student</a> </li>
										{% else %}
										<li class="dropdown-item"> <a href="{% url "student:dashboard" %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
										{% endif %}
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
											<li class="dropdown-item" > <a href ={% url "student:result" %}><i class="fas fa-user-graduate"></i>&nbsp;My Results </a> </li>
										
										
										{% endif %}

										<!--
					<li class="dropdown-item"> <a href ={% url "student:view_library_asset" %}>View Library Asset </a> </li>
					<li class="dropdown-item"> <a href ={% url "student:my_issued_library_asset" %}>My Issued Library Asset </a> </li> -->


									</div>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fab fa-battle-net"></i> Test / Assessment
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %}
										<li class="dropdown-item" > <a  href ={% url "staff:assesments:manage_all_assesment" %}><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Manage Assessment</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:assesments:assessment_create_by_staff" %}><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Create Assessment</a> </li>
										{% else %}
										<li class="dropdown-item" > <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;&nbsp;Live Assessment </a> </li>
										<li class="dropdown-item" > <a href ={% url "student:result" %}><i class="fas fa-user-graduate"></i>&nbsp;&nbsp;Results </a> </li>
										{% endif %}	
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
										<li class="dropdown-item" > <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;&nbsp;Public Live Assessment </a> </li>
										{% endif %}


									</div>
								</ul>
							</li>
							
							{% else %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-diagnoses"></i> Log In
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "institutions:login" %}><i class="fas fa-university"></i> Institute</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:login"  %}> <i class="fas fa-chalkboard-teacher"></i> Staff</a> </li>
										<li class="dropdown-item" > <a  href ={% url "student:login"  %}><i class="fas fa-book-reader"></i> Student</a> </li>

									</div>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-person-booth"></i> Register
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url 'institutions:institution_registration' %}><i class="fas fa-university"></i> Institute</a> </li>
										<!-- <li class="dropdown-item" > <a  href ={% url "staff:login"  %}>  Staff</a> </li> -->
										<li class="dropdown-item" > <a  href ={% url "student:student_registration" %}><i class="fas fa-book-reader"></i> Student</a> </li>

									</div>
								</ul>
							</li>

							{% endif %}

							<!--
		
		    <li> <a href ={% url "staff:create_student_enquiry" %}> Student Enquiry Form </a> </li>
		    <li> <a href ={% url "staff:manage_student_enquiry" %}> Manage Student Enquiry </a> </li>
		    <li> <a href ={% url "staff:library:create_library_asset" %}> Create Library Asset </a> </li>
		    <li> <a href ={% url "staff:library:manage_library_asset" %}> Manage Library Asset </a> </li>
		    
		-->

						</ul>


						<ul class="navbar-nav nav-flex-icons">
							{% if request.user.is_authenticated %} 
							<li class="nav-item">
								<a class="nav-link" href="#">
								{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 
									<i class="fas fa-university"></i> {{ request.user.institutions.institute_name|title }} 
								{% else %}
									<i class="far fa-user"></i> {{ request.user.get_full_name|title }}
								{% endif %}
								</a>
							</li>
							<li class="nav-item">
								{% if  perms.institutions.is_institute %}
									<a class="nav-link" href="{% url "institutions:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								{% elif perms.staff.is_staff %}
									<a class="nav-link" href="{% url "staff:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								{% else %}
									<a class="nav-link" href="{% url "student:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								
								{% endif %}
							</li>

							{% else %}  



							{% endif %}  
						</ul>
					</div>
				</nav>

			</header>

		</div>





		{% endblock %}



		
			
				<div class="container-fluid">
					{% for message in messages %}
					<div class="row">
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									{{ message|safe }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>  
								
					</div>		  
					{% endfor %}
				 </div>
			
		




		<div id="content">  

			{% block content %}    {% endblock %}  

		</div>


		<div id="footer">
			{% block footer %} 


			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-lg-left text-center">
						<div class="copyright">
							&copy; Copyright <strong>SWAPLE</strong>. Proudly made in <picture><img  src="{% static 'img/india-flag-icon-64.png' %}" class="img-fluid"  width=32px /></picture>. All Rights Reserved.
						</div>
					
					</div>
				
				</div>
				<div class="row">
					<span class="col-md-1">
					</center></span>
				</div>
			</div>

			{% endblock %}
		</div>
	</body> </html> 

<script type="text/javascript">

	$(document).ready(function(){
		$('.alert').alert();
		$(".alert").fadeTo(15000, 500).slideUp(500, function(){
			$(".alert").slideUp(500);
		});
	/*
	//Dialog Modal For Message Popup
	var checkWhetherMessageExists = 0;
	checkWhetherMessageExists = $("#userDisplayMessage").length > 0;

	if (checkWhetherMessageExists) {
	$( function() {
	$( "#userDisplayMessage" ).dialog({
	modal: true
	});
	} );
	}
	*/
	});


</script>