{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load meta %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
 <head {% meta_namespaces %} > 
		{%  include 'master_static.html' %}
		{% include "google_analytics.html" %}
		{% include "google_adsense.html" %}
		
		<title>{% block title %}{% endblock %}</title>  
		{% block more_meta_tags %}{% endblock %}
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

			<style type="text/css">
				.centeredForm {
				margin: 0 auto;
				width:80% /* value of your choice which suits your alignment */
				}
				@media (max-width: 500px) {
				.myForm {
				min-width: 90%;
				}
				}
				
				.main-header, .navbar-brand {
				  background: url({% static "img/swaple_logo_png.png" %}) no-repeat top center;
				  background-size: contain;
				}
				
				#menu_n {
					  position: fixed; /* Sit on top of the page content */
					  color: #000;
					  width:100%;
					  float:right;
				}
				
				h1 {
					{% if  request.user_agent.is_mobile %}
						padding:10px 2px 5px 5px!important;
					{% else %}
						padding: 60px 0 5px 4rem!important;
					{% endif %}
				}
				
				  #my-menu:not( .mm-menu ) {
						display: none;
					}

			</style>
			{% include "meta/meta.html" %}
			{% if request.user_agent.is_mobile %}
<!-- Fire the plugin -->
        <script>
            document.addEventListener(
                "DOMContentLoaded", () => {
                    new Mmenu( "#my-menu", {
						navbar: {
							{% if request.user.is_authenticated %} 
							
								{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 
									title: '<small><i class="fas fa-university text-muted"></i> {{ request.user.institutions.institute_name|title|truncatechars:25}} </small>'
								{% else %}
									title: '<i class="far fa-user text-muted"></i> {{ request.user.get_full_name|title }}'
								{% endif %}
							{% else %}	
								title: "SWAPLE"
							{% endif %}  
							
							
						  },
						"extensions": [
                          "theme-dark",
						  "pagedim-black"
                       ],
						
						"setSelected": {
						  "hover": true,
						  "parent": true
					   },
                       "counters": true,
                       "iconbar": {
                          "use": true,
                          "top": [
							 "<a href='#/'><i class='fa fa-twitter'></i></a>",
                             "<a href='#/'><i class='fa fa-facebook'></i></a>",
                             "<a href='{% url "staff:assesments:manage_open_assesment" %}'><i class='fas fa-globe-americas'></i></a>",
							 {% if request.user.is_authenticated %} 
                             "<a href='#dashboard'><i class='fa fa-tachometer'></i></a>",
							 {% else %}
								"<a href='#mobile_login_menu'><i class='fas fa-diagnoses'></i></a>",
								"<a href='#register_menu'><i class='fas fa-person-booth'></i></a>",
                             
							 {%endif%}
							 {% if request.user.is_authenticated and perms.institutions.is_institute %}
                             "<a href='#manage_staff'><i class='fa fa-chalkboard-teacher'></i></a>",
							 
							 {% endif %}
							 {% if request.user.is_authenticated %} 
                             
                             "<a href='#manage_student_menu'><i class='fa fa-book-reader'></i> </a>",
                             "<a href='#manage_assessment_menu'><i class='fab fa-battle-net'></i> </a>",
							 "<a href='#my_profile'><i class='far fa-user-circle'></i> </a>",
                             "<a href='{% if  perms.institutions.is_institute %}{% url "institutions:logout" %}{% elif perms.staff.is_staff %}{% url "staff:logout" %}{% else %}{% url "student:logout" %}{% endif %}'><i class='fas fa-sign-out-alt text-muted'></i> </a>",
							{% endif %}
                          ],
                          "bottom": [
                             
                          ]
                       },
                       "navbars": [
                          {
                             "position": "top",
                             "content": [
                                "searchfield"
                             ]
                          },
                          {
                             "position": "top",
                             "content": [
                                "prev",
                                "title"
                             ]
                          },
                          {
                             "position": "bottom",
                             "content": [
                                '<a href="https://t.me/swapledigital" class="twitter"><i class="fa fa-telegram"></i></a>',
								'<a href="http://www.instagram.com/swapledigital" class="instagram"><i class="fa fa-instagram"></i></a>'
                             ]
                          }
                       ]
                    });
                }
            );
        </script>
{% endif%}
		</head> <body>


			{% block menu %}
			<div class="container-fluid row  ">
				<a class="mburger mburger--collapse float-right  position-fixed" id="" href="#my-menu"  style="position: absolute;z-index:999; bottom:1; right:0;">
					<b></b>
					<b></b>
					<b></b>
				</a>
				
			</div>
			<!--Main Navigation-->
			<header>
				{% if request.user_agent.is_mobile %}
				
					<nav  id="my-menu" style="z-index:99999;">
					<ul>
                        <li class="active"><a  id="open_test" href="{% url "staff:assesments:manage_open_assesment" %}"> Open Test/Assessment </a></li>
                        {% if request.user.is_authenticated %} 
							<li class="nav-item ">
								<a id="dashboard" class="nav-link" href="{% url "institutions:dashboard" %}">Home</a>
							</li>
						{% endif %}
						{% if not request.user.is_authenticated  %}
						<li>
							<span>Log In</span>
								
								<ul id="mobile_login_menu">
									<li class="dropdown-item" > <a  href ={% url "institutions:login" %}><i class="fas fa-university text-muted"></i> Institute</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:login"  %}> <i class="fas fa-chalkboard-teacher text-muted"></i> Staff</a> </li>
										<li class="dropdown-item" > <a  href ={% url "student:login"  %}><i class="fas fa-book-reader text-muted"></i> Student</a> </li>
								</ul>
						</li>
						<li>
							<span>Register</span>
							<ul id="register_menu">
									<li class="dropdown-item" > <a  href ={% url 'institutions:institution_registration' %}><i class="fas fa-university text-muted"></i> Institute</a> </li>
									<!-- <li class="dropdown-item" > <a  href ={% url "staff:login"  %}>  Staff</a> </li> -->
									<li class="dropdown-item" > <a  href ={% url "student:student_registration" %}><i class="fas fa-book-reader text-muted"></i> Student</a> </li>
							</ul>
						</li>
						{% endif %}
						{% if request.user.is_authenticated and perms.institutions.is_institute %}
						<li >
							<span>Staff</span>
								
								<ul id="manage_staff">
									
										<li > <a  href ={% url "staff:dashboard" %}><i class="fa fa-tachometer text-muted" aria-hidden="true"></i>&nbsp;Dashboard</a> </li>
										<li> <a  href ={% url "institutions:manage_staff" %}><i class="fas fa-users-cog text-muted"></i>&nbsp;Manage Staff</a> </li>
										<li  > <a  href ={% url "institutions:create_institution_staff" %}><i class="fa fa-user-plus text-muted" aria-hidden="true"></i>&nbsp;Add Staff</a> </li>
									
								</ul>
							</li>
							
						{% endif %}
						{% if request.user.is_authenticated %} 
							<li >
								<span >
									Student
								</span>
								<ul id="manage_student_menu">
									
										{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 

										<li > <a  href ={% url "staff:manage_student" %}><i class="fa fa-users-cog text-muted" aria-hidden="true"></i>&nbsp;Manage Student</a> </li>
										<li  > <a  href ={% url "staff:add_student" %}><i class="fa fa-user-plus text-muted" aria-hidden="true"></i>&nbsp;Add Student</a> </li>
										{% else %}
										<li > <a href="{% url "student:dashboard" %}"><i class="fa fa-tachometer text-muted" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
										{% endif %}
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
											<li> <a href ={% url "student:result" %}><i class="fas fa-user-graduate text-muted"></i>&nbsp;My Results </a> </li>
										
										
										{% endif %}

								</ul>
							</li>
							<li >
								<span>Test / Assessment</span>
								<ul id="manage_assessment_menu">
									{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %}
										<li> <a  href ={% url "staff:assesments:manage_all_assesment" %}><i class="fa fa-cog text-muted" aria-hidden="true"></i>&nbsp;Manage Assessment</a> </li>
										<li> <a  href ={% url "staff:assesments:assessment_create_by_staff" %}><i class="fa fa-plus-square-o text-muted" aria-hidden="true"></i>&nbsp;Create Assessment</a> </li>
										{% else %}
										<li > <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock text-muted" aria-hidden="true"></i>&nbsp;Live Assessment </a> </li>
										<li  > <a href ={% url "student:result" %}><i class="fas fa-user-graduate text-muted"></i>&nbsp;Results </a> </li>
										{% endif %}	
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
										<li> <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock text-muted" aria-hidden="true"></i>&nbsp;Public Live Assessment </a> </li>
										{% endif %}


									</div>
								</ul>
							</li>
							<li>
								<span> My Profile</span>
									
								
								<ul id="my_profile">
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
										<li > <a  href ={% url "institutions:password_change" %}><i class="fa fa-key text-muted" aria-hidden="true"></i>&nbsp;Change Password</a> </li>
										<li > <a  href ={% url "institutions:edit" %}><i class="fa fa-user-edit text-muted" aria-hidden="true"></i>&nbsp;Edit Profile</a> </li>
										{% elif request.user.is_authenticated and perms.staff.is_staff %}
										<li > <a  href ={% url "institutions:password_change" %}><i class="fa fa-key text-muted" aria-hidden="true"></i>&nbsp;Change Password</a> </li>
										<li > <a  href ={% url "staff:edit" %}><i class="fa fa-user-edit text-muted" aria-hidden="true"></i>&nbsp;Edit Profile</a> </li>
										{% elif request.user.is_authenticated  %}
										<li > <a  href ={% url "institutions:password_change" %}><i class="fa fa-key text-muted" aria-hidden="true"></i>&nbsp;Change Password</a> </li>
										<li > <a  href ={% url "student:edit" %}><i class="fa fa-user-edit text-muted" aria-hidden="true"></i>&nbsp;Edit Profile</a> </li>
										{% endif %}
								</ul>
							</li>
							<li >
								{% if  perms.institutions.is_institute %}
									<a  href="{% url "institutions:logout" %}">Log Out</a>
								{% elif perms.staff.is_staff %}
									<a href="{% url "staff:logout" %}">Log Out</a>
								{% else %}
									<a href="{% url "student:logout" %}">Log Out</a>
								
								{% endif %}
							</li>
							{% endif %}
							
							
						</ul>
                   
                </nav>
				
				
				
				
				{% else %}
				
				<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar" >
					<a href="{% url 'home:homeview'%}">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
					 width="20px" height="auto" viewBox="0 0 299.000000 247.000000"
					 preserveAspectRatio="xMidYMid meet">
					
					<g  transform="translate(0.000000,247.000000) scale(0.100000,-0.100000)"
					fill="#fff" stroke="none">
					<path d="M1675 2273 c-55 -47 -202 -173 -327 -279 l-228 -195 -2 -406 -3 -407
					-121 -56 c-66 -30 -168 -77 -227 -104 -59 -27 -107 -51 -107 -55 0 -3 33 -42
					73 -87 39 -44 93 -105 119 -135 25 -30 54 -64 65 -75 10 -12 81 -94 158 -183
					77 -88 142 -161 145 -161 4 0 15 8 26 18 10 9 46 40 79 67 33 27 123 104 200
					170 77 66 188 161 248 210 l107 89 0 332 0 331 -75 34 c-41 19 -74 36 -75 39
					0 3 129 65 288 138 158 73 298 139 310 146 24 13 23 14 -90 143 -356 407 -424
					486 -431 499 -4 8 -13 14 -20 14 -7 -1 -57 -40 -112 -87z"/>
					</g>
					</svg>
					</a>
					<a class="navbar-brand" href="javascript:void;">
					
					<strong>SWAPLE</strong></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{% url "staff:assesments:manage_open_assesment" %}"><i class="fas fa-globe-americas"></i> Open Test/Assessment <span class="sr-only"> </span></a>
							</li>
							{% if request.user.is_authenticated %} 
							<li class="nav-item ">
								<a class="nav-link" href="{% url "institutions:dashboard" %}"><i class="fas fa-laptop-house"></i> Home <span class="sr-only"> {% if section == "dashboard" %}(current){% endif %}</span></a>
							</li>
							{% endif %}

							{% if request.user.is_authenticated and perms.institutions.is_institute %} 



							<!--<li class="nav-item" > <a class="nav-link" href="{% url "institutions:view_student_fees_installment" %}"> Student Fees Installment</a> </li>-->	 
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-chalkboard-teacher"></i> Staff
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "staff:dashboard" %}><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:manage_staff" %}><i class="fas fa-users-cog"></i>&nbsp;Manage Staff</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:create_institution_staff" %}><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Staff</a> </li>
									</div>
								</ul>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="far fa-user-circle"></i> Profile
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "institutions:password_change" %}><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Change Password</a> </li>
										<li class="dropdown-item" > <a  href ={% url "institutions:edit" %}><i class="fa fa-user-edit" aria-hidden="true"></i>&nbsp;Edit Profile</a> </li>
									</div>
								</ul>
							</li>


							{% endif %}
							{% if request.user.is_authenticated %} 
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-book-reader"></i> Student
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 

										<li class="dropdown-item" > <a  href ={% url "staff:manage_student" %}><i class="fa fa-users-cog" aria-hidden="true"></i>&nbsp;Manage Student</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:add_student" %}><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Student</a> </li>
										{% else %}
										<li class="dropdown-item"> <a href="{% url "student:dashboard" %}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
										{% endif %}
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
											<li class="dropdown-item" > <a href ={% url "student:result" %}><i class="fas fa-user-graduate"></i>&nbsp;My Results </a> </li>
										
										
										{% endif %}

										<!--
					<li class="dropdown-item"> <a href ={% url "student:view_library_asset" %}>View Library Asset </a> </li>
					<li class="dropdown-item"> <a href ={% url "student:my_issued_library_asset" %}>My Issued Library Asset </a> </li> -->


									</div>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fab fa-battle-net"></i> Test / Assessment
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %}
										<li class="dropdown-item" > <a  href ={% url "staff:assesments:manage_all_assesment" %}><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;Manage Assessment</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:assesments:assessment_create_by_staff" %}><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Create Assessment</a> </li>
										{% else %}
										<li class="dropdown-item" > <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;&nbsp;Live Assessment </a> </li>
										<li class="dropdown-item" > <a href ={% url "student:result" %}><i class="fas fa-user-graduate"></i>&nbsp;&nbsp;Results </a> </li>
										{% endif %}	
										{% if request.user.is_authenticated and perms.institutions.is_institute %}
										<li class="dropdown-item" > <a href ={% url "student:assesments:manage_student_assesment" %}><i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;&nbsp;Public Live Assessment </a> </li>
										{% endif %}


									</div>
								</ul>
							</li>
							
							{% else %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-diagnoses"></i> Log In
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url "institutions:login" %}><i class="fas fa-university"></i> Institute</a> </li>
										<li class="dropdown-item" > <a  href ={% url "staff:login"  %}> <i class="fas fa-chalkboard-teacher"></i> Staff</a> </li>
										<li class="dropdown-item" > <a  href ={% url "student:login"  %}><i class="fas fa-book-reader"></i> Student</a> </li>

									</div>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-person-booth"></i> Register
								</a>
								<ul class="navbar-nav mr-auto">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li class="dropdown-item" > <a  href ={% url 'institutions:institution_registration' %}><i class="fas fa-university"></i> Institute</a> </li>
										<!-- <li class="dropdown-item" > <a  href ={% url "staff:login"  %}>  Staff</a> </li> -->
										<li class="dropdown-item" > <a  href ={% url "student:student_registration" %}><i class="fas fa-book-reader"></i> Student</a> </li>

									</div>
								</ul>
							</li>

							{% endif %}

							<!--
		
		    <li> <a href ={% url "staff:create_student_enquiry" %}> Student Enquiry Form </a> </li>
		    <li> <a href ={% url "staff:manage_student_enquiry" %}> Manage Student Enquiry </a> </li>
		    <li> <a href ={% url "staff:library:create_library_asset" %}> Create Library Asset </a> </li>
		    <li> <a href ={% url "staff:library:manage_library_asset" %}> Manage Library Asset </a> </li>
		    
		-->

						</ul>


						<ul class="navbar-nav nav-flex-icons">
							{% if request.user.is_authenticated %} 
							<li class="nav-item">
								<a class="nav-link" href="#">
								{% if request.user.is_authenticated and perms.staff.is_staff or request.user.is_authenticated and perms.institutions.is_institute %} 
									<small><i class="fas fa-university"></i> {{ request.user.institutions.institute_name|title|truncatechars:25}} </small>
								{% else %}
									<i class="far fa-user"></i> {{ request.user.get_full_name|title }}
								{% endif %}
								</a>
							</li>
							<li class="nav-item">
								{% if  perms.institutions.is_institute %}
									<a class="nav-link" href="{% url "institutions:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								{% elif perms.staff.is_staff %}
									<a class="nav-link" href="{% url "staff:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								{% else %}
									<a class="nav-link" href="{% url "student:logout" %}">Log Out<i class="fas fa-sign-out-alt"></i></a>
								
								{% endif %}
							</li>

							{% else %}  



							{% endif %}  
						</ul>
					</div>
				</nav>
				{% endif%}
			</header>

		</div>





		{% endblock %}



		
			
				
			
		




		<div id="content">  
			
			{% block content %}    {% endblock %} 
			{% if request.user_agent.is_mobile %}			
			<div id="166428875">
					<script type="text/javascript">
						try {
							window._mNHandle.queue.push(function (){
								window._mNDetails.loadTag("166428875", "300x250", "166428875");
							});
						}
						catch (error) {}
					</script>
				</div>
			{% else %}
				<div id="166428875">
					<script type="text/javascript">
						try {
							window._mNHandle.queue.push(function (){
								window._mNDetails.loadTag("166428875", "300x250", "166428875");
							});
						}
						catch (error) {}
					</script>
					</div>
			{% endif %}

		</div>
		{% if  perms.institutions.is_institute %}
		<nav style="padding:0;" class="navbar fixed-bottom navbar-light bg-light">
		  
			<ul class="nav">
				<li class="nav-item">
					<a class="btn btn-white nav-link" href ={% url "institutions:manage_staff" %}><i class="fas fa-chalkboard-teacher"></i>&nbsp;</a> 
				</li>
				<li class="nav-item">
					<a class="btn btn-white nav-link" href ={% url "staff:manage_student" %}><i class="fas fa-book-reader" aria-hidden="true"></i>&nbsp;</a>
				</li>
				
				<li>
					<a class="btn btn-white nav-link" href="{% url "institutions:dashboard" %}"><i class="fa fa-tachometer"></i></a>
				</li>
				<li class="nav-item " >
					<a class="btn btn-white nav-link" href ={% url "staff:assesments:manage_all_assesment" %}><i class="fab fa-battle-net" aria-hidden="true"></i>&nbsp;</a>						
				</li>
				
				<li>
					<a class="btn btn-white nav-link" href="{% url "staff:assesments:assessment_create_by_staff" %}"><i class="fab fa-battle-net"></i>&nbsp;Create</a>
				</li>
			</ul>
		</nav>
		{% endif %}
		<script type="text/javascript">
			var infolinks_pid = 3261119;
			var infolinks_wsid = 0;
			</script>
			<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
		<div id="footer">
			{% block footer %} 
			
			<div class="container">
				<div class="row">
					
					<div class="col-lg-6 text-lg-left text-center">
						<div class="copyright">
							&copy; Copyright <strong>SWAPLE</strong>. Proudly made in <picture><img  src="{% static 'img/india-flag-icon-64.png' %}" class="img-fluid"  width=32px /></picture>. 
						</div>
					
					</div>
				
				</div>
				<div class="row">
					<span class="col-md-1">
					</center></span>
				</div>
			</div>

			{% endblock %}
		</div>
	</body> </html> 

<script type="text/javascript">

	$(document).ready(function(){
		$('.alert').alert();
		$(".alert").fadeTo(15000, 500).slideUp(500, function(){
			$(".alert").slideUp(500);
		});
	/*
	//Dialog Modal For Message Popup
	var checkWhetherMessageExists = 0;
	checkWhetherMessageExists = $("#userDisplayMessage").length > 0;

	if (checkWhetherMessageExists) {
	$( function() {
	$( "#userDisplayMessage" ).dialog({
	modal: true
	});
	} );
	}
	*/
	});


</script>

