<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6390158646547677",
          enable_page_level_ads: true
     });
</script>
<!-- PopMyAds.com Popunder Code for swaple.in -->
 
<script type="text/javascript" data-cfasync="false">
var pmauid = '58259';
var pmawid = '57111';
var fq = '86400';
</script>
<script type="text/javascript" data-cfasync="false" src="https://cdn.popmyads.com/pma.js"></script>
 
<!-- PopMyAds.com Popunder Code End -->