{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load static %}

 <html>
 <head> 
 	<title>{% block title %}{% endblock %}</title>  
 	{% include "master_static.html" %}
 </head>
 <body>
 
 {% block menu %}{% endblock %}
 
 
 {% if messages %}
 	<ul class="messages">    
 		{% for message in messages %}
 		      <li class="{{ message.tags }}">        {{ message|safe }}          <a href="#" class="close">✖</a>      </li>
 		{% endfor %}
   </ul>
 {% endif %}


 <div id="content">
     {% block content %}    {% endblock %}
 </div>
 
 
 <div id="footer">
     {% block footer %} 
		

	  <div class="container">
	    <p class="text-muted">Handrcrafted in INDIA <a href="http://">swaple.com</a></p>
	  </div>
    
     {% endblock %}
 </div>
 </body>
 </html> 
 