 {% extends "master_base.html" %}
 
 {% block menu %}
 
	 <div id="header"> 
		 <span class="logo">SwapLE</span>
		 
		 {% if request.user.is_authenticated %} 
		 <ul class="menu">     
		 <li {% if section == "dashboard" %}class="selected"{% endif %}> <a href="{% url "staff:dashboard" %}">My dashboard</a>      </li>
		 <li> <a href ={% url "staff:edit" %}> Edit Profile</a> </li>
		    <li> <a href ={% url "staff:password_change" %}> Change Password</a> </li>
		    <li> <a href ={% url "staff:manage_student" %}> Manage Students</a> </li>
		    <li> <a href ={% url "staff:add_student" %}> Add Students</a> </li>
		    <li> <a href ={% url "staff:assesments:manage_all_assesment" %}> Manage Assessments</a> </li>
		    <li> <a href ={% url "staff:assesments:assessment_create_by_staff" %}> Create Assessments</a> </li>
		    {% if request.user.is_authenticated %}
		 	<li> <a href="{% url "staff:logout" %}">Logout</a> </li>
		 	{% endif %}    
		 </ul>
		 {% else %}
		 
		 <span class="user">
    		<a href="{% url "staff:login"  %}">Log-in</a>
    	 </span>
		 {% endif %}
		 
	 </div>
 
 {% endblock %}
 
 