{% extends "base.html" %}
{% load static %}

{% block title %}Staff Portal{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  <div class="container" style="min-height:60%">
  <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
  <p>Welcome to Staff Portal </p>
  
    <div id="canvas-holder" style="width:80%">
		<canvas id="chart-area"></canvas>
	</div>
  
  </div>
  
  
<script>
	studentCounting = [{{total_male}},{{total_female}}];
</script>
	
<script src="{% static "js/staff_dashboard_script.js" %}"></script>
{% endblock %} 