{% extends "base.html" %}
{% block title %}  Delete Student Enquiry   {% endblock %}



{% block content %} 
 <h1>Delete Student Enquiry</h1>
  <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>     
  <form method="POST" action="."> {% csrf_token %}
      <h3>Are you sure you want to delete: "{{ enquiry.full_name }}"?</h3>
              
     <input type='submit' value='Delete'  class='btn btn-success'>&nbsp;&nbsp;&nbsp
     <a href='{% url 'staff:manage_student_enquiry' %}' class='btn btn-default'>Cancel</a>
  </form>


{% endblock %}