{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Staff Login{% endblock %}
{% block content %}


<h1></h1> 
 <style>
 #box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
</style> 
{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
 <div class=" container " id="box">
	<form class="" action="{% url 'staff:login' %}" method="post"> 
	<div class="row" id="user_message_display">
		
	</div>
	<div class="row" >
		<div class="col-md-12 text-center">
			<i class='mb-4 fas fa-chalkboard-teacher' style='font-size:72px; color: #e91e63 !important;' width="72" height="72"></i>
		
		 </div>
	</div>
	<div class="row" >
		<div class="col-md-12 text-center">
			<h3>Staff Login</h3>
		
		 </div>
	</div>

	<div class="row" >
		<div class="col-md-12">
		  {% if form.errors %} 
			<p class="p">      Your username and password didn't match.       Please try again.    </p> 
		  {% else %}    
			<p class="p">Please, use the following form to log-in:</p> 
		  {% endif %}
		 </div>
	</div>
	
	
	<div class="row"> 
		<div class="col-md-12">
			{% csrf_token %}
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12">
			{{ form.username|as_crispy_field }}
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12">
			{{ form.password|as_crispy_field }}
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12">
			<input type="hidden" name="next" value="/staff/" /> 
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-12 text-center">
			<input  type="submit" value="Log-in" class="btn btn-danger">
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-12 col-md-6">
			<a href="{% url 'staff:password_reset' %}">Forgot Password?</a> 
		</div>
		<div class="col-sm-12 col-md-6">
			
		</div>
	</div>



   
 </form>
 </div>


 {% endblock %} 