{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load export_url from django_tables2 %}
{% block title %}   Manage Student   {% endblock %}


{% block content %} 
<style>
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}
/*h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}*/
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

/*Profile Card 1*/
.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
}

/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:568px;
  border:none;
  z-index:1;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:70%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 70%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}


/*Profile card 4*/
.profile-card-4 .card-img-block{
    float:left;
    width:100%;
    height:50px;
    overflow:hidden;
}
.profile-card-4 .card-body{
    position:relative;
}
.profile-card-4 .profile {
    border-radius: 50%;
    position: absolute;
    top: -62px;
    left: 50%;
    width:100px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: -50px;
}
.profile-card-4 .card-img-block{
    position:relative;
}
.profile-card-4 .card-img-block > .info-box{
    position:absolute;
    background:rgba(217,11,225,0.6);
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:14px;
   -webkit-transition: 1s ease;
    transition: 1s ease;
    opacity:0;
}
.profile-card-4 .card-img-block:hover > .info-box{
    opacity:1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.profile-card-4 h5{
    font-weight:600;
    color:#d90be1;
}
.profile-card-4 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-4 .icon-block{
    float:left;
    width:100%;
}
.profile-card-4 .icon-block a{
    text-decoration:none;
}
.profile-card-4 i {
  display: inline-block;
    font-size: 16px;
    color: #d90be1;
    text-align: center;
    border: 1px solid #d90be1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-4 i:hover {
  background-color:#d90be1;
  color:#fff;
}

/*Profile Card 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}
</style>
 <h1></h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%;">
	<div class="row">
	
		<button type="button" class="col-sm-12 col-md-12 " data-toggle="collapse" data-target="#manage_all_assesment" aria-expanded="false" aria-controls="manage_all_assesment">
			  <h5>Manage All Student   <span class="badge badge-dark pull-right"> Total  {{table.rows|length}} </h5></span>
			</button>
		<div class="collapse" id="manage_all_student">
		  
		</div>
	</div>
    <form method="get" class="form row">
		<div class="input-group mb-3">
		
		 <div class="input-group-prepend ">
			<input type="text" class="form-control" name="studentuser__first_name__icontains" placeholder="First Name " aria-label="First Name " aria-describedby="title_contain">
			{% if request.user_agent.is_pc %}
				<input type="text" class="form-control" name="studentuser__last_name__icontains" placeholder="Last Name " aria-label="Last Name " aria-describedby="title_contain">
				<input type="text" class="form-control" name="studentuser__email__icontains" placeholder="Email" aria-label="Email" aria-describedby="title_contain">
				<input type="text" class="form-control" name="student_contact_no__icontains" placeholder="Student Mobile" aria-label="Student Mobile" aria-describedby="title_contain">
			{% endif %}
			<select type="text" class="custom-select custom-select-lg " name="standard__icontains" placeholder="Standard " aria-label="Standard " aria-describedby="title_contain">
				<option value="">----</option>
				<option value="other">Other</option>
				<option value="certificate_course">Certificate Course</option>
				<option value="master">Master</option>
				<option value="other">Other</option>
				<option value="bachelor">Bachelor</option>
				<option value="highersecondary">Higher Secondary Certificate</option>
				<option value="matriculation">Matriculation</option>
				<option value="11">XI</option>
				<option value="10">X</option>
				<option value="9">IX</option>
				<option value="8">VIII</option>
				<option value="7">VII</option>
				<option value="6">VI</option>
				<option value="5">V</option>
				<option value="4">IV</option>
				<option value="3">III</option>
				<option value="2">II</option>
				<option value="1">I</option>
			
			</select>
			<span class="" id="title_contain" style=""><button class="btn btn-primary" style=""><i class="fas fa-search"></i></button></span>
		</div>
		<div class="input-group-append">
		
		</div>
	</div>
	</form>

 <form action="." method="get" enctype="multipart/form-data">
     {{ student_enroll_form.as_p}}
     {% csrf_token %}
	
	<div class="row">
		<div class="col-sm-4 col-md-4 ">
			<div class="form-group">
				<label for=""  style="">Allow student registration using  home page :</label> 
				
			</div>
		</div>
		<div class="col-sm-4 col-md-4 ">
			<input id="student_reg" class="form-control" type="checkbox" data-toggle="toggle" data-onstyle="info" name="student_reg">
			
			<a class="btn text-dark" href="{% url "staff:add_student" %}"> Add Student <i class="fa fa-plus"></i> </a>
		
		</div>
		
	</div>
	
	<!--
	<div class="col-md-4">
      <h4 style="text-align: center;">Auto Active Student Account</h4> </td>
	     <input id="auto_active" type="checkbox" data-toggle="toggle" data-onstyle="info" name="auto_active" disabled> 
	     
	</div>-->
	
	
	
 </form>
 <div class="row">
			<a class="btn btn-info"  role="button">
				 <code>Download Data <i class="fa fa-arrow-right" aria-hidden="true"></i></code>
				
			</a>
			{% for format in table.export_formats %}
			
			<a class="btn btn-primary"  role="button" href="{% export_url format %}">
				 <code>.{{ format }}</code>
				
			</a>
			
			{% endfor %}
		</div>
<div class="row">
	{% if request.user_agent.is_mobile %}
		{% render_table table "staff/tables_manage_all_student.html" %}
	{% else %}
		{% render_table table  %}
	{% endif %}
</div>


    	    
    		
    		
    		
    		
    		<!--Profile Card 4
    		<div class="col-md-4 mt-4">
    		    <div class="card profile-card-4">
                    <div class="card-img-block">
                        <div class="info-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <img class="img-fluid" src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Card image cap">
                    </div>
                    <div class="card-body pt-5">
                        <img src="https://randomuser.me/api/portraits/women/14.jpg" alt="profile-image" class="profile"/>
                        <h5 class="card-title text-center">Gail Schmidt</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="icon-block text-center"><a href="#"><i class="fa fa-edit"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-trash"></i></a></div>
                    </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Info block with hover</strong></p>
    		</div>
    		
    		-->

 </div>
 
 
 
<!-- Student Registration On Off Status Saving In Database -->

<script type="text/javascript">
$('#auto_active')
if(Boolean({{allow_registration}}) == true){
	$('#student_reg').bootstrapToggle('on');
	$('#auto_active').bootstrapToggle('enable');
	
	if(Boolean({{auto_active_student}}) == true){
		$('#auto_active').bootstrapToggle('on');
	}
}
else {
	$('#student_reg').bootstrapToggle('off');
}


$("input:checkbox").change(function () {
	student_reg = $("#student_reg").is(":checked");
	auto_active = true;//$("#auto_active").is(":checked");
	
	if(student_reg == false){
		auto_active = false;
	}
	
	$.ajax({ 
		url: "{% url "staff:manage_student" %}",
		type : "POST",
		data: { 'student_reg': student_reg, 'auto_active':true, csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()},
		success:function(){
			if(student_reg == true){
				$('#auto_active').bootstrapToggle('enable');
			}
			else{
				$('#auto_active').bootstrapToggle('disable');
				
			}
			
		}
	
	});
	

  });

</script>



{% endblock %}







