{% extends "staff/base.html" %}
{% block content %}
 {% if request.user.username %}
	<h1>Password Reset</h1>
   <h3>You have already login.</h3>
   <h3>You can change your password using <a href="{% url 'staff:password_change' %}">Change Password</a> </h3>

{% else %}
    <h1>Password Reset</h1>
    <br>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name='submit' value="Reset Password">
    </form>
{% endif %}    

{% endblock %}