{% extends "base.html" %}

{% block content %}
<div class="container" style="min-height:60%">
<div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
	</div>
  <h2>
      Your password has been set. You may go ahead and <a href="{% url 'staff:login' %}">Log-in </a> now.
  </h2>
  </div>
{% endblock %}