{% extends "base.html" %}
{% block content %}
<h1>Password Reset</h1>
<div class="container" style="min-height:60%">
<div id="user_message_display">

		{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					{{ message|safe }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
		{% endfor %}
</div>
 {% if request.user.username %}
   <h3>You have already login.</h3>
   <h3>You can change your password using <a href="{% url 'staff:password_change' %}">Change Password</a> </h3>

{% else %}
    <br>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" name='submit' value="Reset Password">
    </form>
{% endif %}    
</div>
{% endblock %}