
{% extends "base.html" %}
{% block title %}  Delete Student account   {% endblock %}


{% block content %} 
 <h1>Delete Student account</h1>
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <div class="container" style="min-height:60%">
 <p>

 {% if information %}  <ul class="information">    {% for message in information %}      <li class="warning">        {{ message|safe }}          <a href="#" class="close">✖</a>      </li>    {% endfor %}  </ul> {% endif %}


 </p>


    {% if request.method == 'GET' %}

             <form action="." method="post" enctype="multipart/form-data">

                 {% csrf_token %}
             <p><input type="submit" class="btn btn-success" value="Delete It"></p>
             </form>

    {% endif %}
    </div>
{% endblock %}
