{% extends "base.html" %}
{% block title %}   Edit Enquiry {% endblock %}



{% block content %} 
 <h1>Edit/Update Student Enquiry</h1>
 <div class="container" style="min-height:60%">
 <div id="user_message_display">
		{% for message in messages %}
				<div class="alert alert-success" role="alert">
					{{ message|safe }}
				</div>  
		{% endfor %}
	</div>
 <p>You can edit your enquiry records using the following form:</p>
 <form action="." method="post" enctype="multipart/form-data">
     {{ form.as_p}}
     
     {% csrf_token %}
 <p><input type="submit" class="btn btn-success" value="Save changes"></p>
 </form>
 </div>
{% endblock %}
